@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
body {
  background: -webkit-gradient(linear, left top, right top, from(#313030), to(#000000));
  background: linear-gradient(90deg, #313030 0%, #000000 100%);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body p {
  font-size: 16px;
  margin: 0;
}

body .container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . . . . . . . . ." ". . . . . . . . . . . ." ". . . i i i i i i . . ." ". . . i i i i i i . . ." ". . . i i i i i i . . ." ". . . i i i i i i . . ." ". . . i i i i i i . . ." ". . . i i i i i i . . ." ". . . i i i i i i . . ." ". . . i i i i i i . . ." ". . . . . . . . . . . ." ". . . . . . . . . . . .";
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

body .container .launcher-window {
  background-color: #0f0e10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 8;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: i;
  width: 620px;
  /* BREAKS LAYOUT !! */
}

body .container .launcher-window #welcome-screen {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: ()[3];
      grid-template-rows: repeat(3);
  height: 100%;
  width: 100%;
}

body .container .launcher-window #welcome-screen .configuration-files-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

body .container .launcher-window #welcome-screen .configuration-files-wrapper .configuration-file-list-item {
  background-color: #1e1e1e;
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
      grid-template-areas: "account-address account-address account-address account-address launch-configuration" "network account-balance account-balance account-balance launch-configuration";
  -ms-grid-columns: 130px 1fr 1fr 1fr 1fr;
      grid-template-columns: 130px 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 35px 35px;
      grid-template-rows: 35px 35px;
  margin-bottom: 2px;
  padding: 0px 20px 0px 20px;
}

body .container .launcher-window #welcome-screen .configuration-files-wrapper .configuration-file-list-item .account-address {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: #ffffff;
  font-weight: 500;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: account-address;
}

body .container .launcher-window #welcome-screen .configuration-files-wrapper .configuration-file-list-item .account-balance {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: #646464;
  font-weight: 400;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: account-balance;
}

body .container .launcher-window #welcome-screen .configuration-files-wrapper .configuration-file-list-item .network {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: #646464;
  font-weight: 400;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: network;
}

body .container .launcher-window #welcome-screen .configuration-files-wrapper .configuration-file-list-item .launch-configuration {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  grid-area: launch-configuration;
}

body .container .launcher-window #welcome-screen .configuration-files-wrapper .configuration-file-list-item .launch-configuration .launch-configuration-button {
  background-color: yellow;
  border: 0;
  border-radius: 29px;
  color: blue;
  font-weight: 500;
  height: 35px;
  width: 135px;
}
/*# sourceMappingURL=app.css.map */