<div class="spinner tracker"></div>
<ul class="messages"></ul>


<script type="text/javascript">
 window.onload = function() {
   var ws = new WebSocket("{{ tracker_websocket_url }}");
   
   ws.onmessage = function(evt) {

     var message = JSON.parse(evt.data);
     
     if (message.type == "status-update") {
       
       var li = document.createElement("li");   
       li.textContent = message.text;
       document.querySelector("ul.messages").appendChild(li);
       
       if (message.complete){
         var status_icon = document.querySelector("div.tracker");
         status_icon.classList.remove("spinner");
         status_icon.classList.add("complete");
         
         {% if redirect_url %}
         setTimeout(function(){
           document.location = "{{ redirect_url }}";
         }, 2000);
         {% end %}
       }
     }
   };
 }
</script>
