@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
body {
  background-color: #0f0e10;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 60vw;
}

.hidden {
  display: none !important;
}

.highlighted {
  font-size: 125%;
  font-weight: 500;
  color: #28a5c8;
}

a {
  color: #28a5c8;
  text-decoration: none;
}

a .icon-link {
  height: 24px;
  width: auto;
  vertical-align: middle;
}

a .icon-link.big {
  height: 60px;
}

button, a.button {
  line-height: 40px;
  width: 270px;
  border: 2px solid;
  border-radius: 29px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  border-color: #28a5c8;
  color: #fff;
}

button:hover, button.selected, a.button:hover, a.button.selected {
  background-color: #28a5c8;
  border-color: #28a5c8;
  color: #fff;
}

button:disabled, button[aria-disabled="true"], a.button:disabled, a.button[aria-disabled="true"] {
  background-color: transparent;
  border-color: rgba(40, 165, 200, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

button.hide-when-disabled:disabled, a.button.hide-when-disabled:disabled {
  display: none !important;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 80px;
  line-height: 94px;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-size: 36px;
  line-height: 43px;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

input[type=text], input[type=number], input[type=password] {
  background-color: #323232;
  border: 0;
  border-radius: 20px;
  color: #28a5c8;
  height: 28px;
  padding: 0px 10px 0px 10px;
  width: 350px;
}

input[type=password] {
  margin-bottom: 15px;
}

.error-box {
  height: 28px;
}

span.error {
  color: #ef5350;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 12px;
}

div.logo {
  width: 370px;
  height: 105px;
  display: inline-block;
  text-align: center;
}

div.logo img {
  width: auto;
  height: 100%;
}

div.logo.business-card {
  position: fixed;
  bottom: 10px;
  left: 10px;
  margin-left: 0 !important;
  text-align: left;
  width: 222px;
  height: 63px;
}

div.logo.home {
  display: none;
}

div.transfer-data-display {
  width: 100%;
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-auto-flow: column;
}

ul.action-list li {
  height: 60px;
}

ul.funding-requirements {
  width: 75%;
  margin: auto;
  font-size: 75%;
  text-align: start;
}

ul.funding-requirements li {
  line-height: 1.5em;
  list-style-type: disc;
}

ul.checklist {
  margin: 0;
}

ul.checklist li {
  display: block;
  padding-bottom: 10px;
}

ul.checklist li span.check-value.nok {
  color: #ef5350 !important;
}

ul.checklist li span.check-value.ok {
  color: #28a5c8 !important;
}

ul.available-configurations {
  width: 100%;
  border-top: solid 1.5px #0a6e87;
  font-size: 75%;
}

ul.available-configurations li {
  width: 100%;
  height: 70px;
  margin-bottom: 2px;
  background-color: #1e1e1e;
  display: -ms-grid;
  display: grid;
  grid-template: "account account account button" auto "network balance balance button" auto;
}

ul.available-configurations li span.account, ul.available-configurations li span.network {
  padding-left: 20px;
}

ul.available-configurations li span.network, ul.available-configurations li span.balance {
  text-transform: capitalize;
  color: #646464;
}

ul.available-configurations li span.account {
  grid-area: account;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 500;
}

ul.available-configurations li span.network {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  grid-area: network;
}

ul.available-configurations li span.balance {
  grid-area: balance;
}

ul.available-configurations li button, ul.available-configurations li a.button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 33px;
  width: 100px;
  grid-area: button;
}

ul.available-configurations li a.button {
  line-height: 33px;
}

ul.account-info {
  margin: 0.25em auto;
}

ul.account-info span.data-attribute {
  font-size: 125%;
  display: block;
}

ul.account-info span.highlighted, ul.account-info span.data-value {
  color: #28a5c8;
  display: block;
  margin-bottom: 0.25em;
}

.wallet-download {
  display: none;
}

.wallet-download.is-visible {
  display: block;
}

span.private {
  display: inline-block;
  width: 75%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.action-copy-paste {
  cursor: pointer;
}

.action-copy-paste::after {
  font-size: 12px;
  background-repeat: no-repeat;
  display: inline-block;
  content: '';
  background-image: url("../images/copy-icon.svg");
  min-width: 20%;
  height: 27px;
  line-height: 27px;
  background-size: auto 27px;
}

.action-copy-paste.clipboard::after {
  vertical-align: top;
  content: 'copied!' !important;
  background-image: none !important;
}

.tx-received::after {
  content: 'Your Raiden account is Funded with ETH!';
}

#no-web3 {
  display: none;
}

section.content {
  width: 60vw;
  margin: 0 auto;
  padding: 50px 0;
}

section.content .progress {
  display: none;
}

section.content .progress.is-visible {
  display: block;
}

section.content .progress .steps {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.content .progress .steps .circle {
  background-color: #323232;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

section.content .progress .steps .circle img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.2;
}

section.content .progress .steps .circle img.rounded {
  border-radius: 50%;
}

section.content .progress .steps .circle.active {
  background-color: #28a5c8;
}

section.content .progress .steps .circle.active img {
  opacity: 1;
}

section.content .progress .steps .divider {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 4px;
  background-color: #323232;
}

section.content div.container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  min-height: 480px;
  -ms-grid-rows: 160px 120px minmax(120px, auto) 80px;
      grid-template-rows: 160px 120px minmax(120px, auto) 80px;
}

section.content div.container div {
  -ms-grid-column-align: center;
      justify-self: center;
}

section.content div.container h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.content div.container h1 img {
  width: auto;
  height: 105px;
}

section.content div.container div.hero {
  text-align: center;
}

section.content div.container div.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

section.content div.container div.description div:not(:last-child) {
  margin-bottom: 30px;
}

section.content div.container div.description .row-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

section.content div.container div.description .row-items div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.content div.container div.description .row-items div:not(:last-child) {
  margin-right: 26px;
}

section.content div.container div.description .row-items div img {
  height: 105px;
  width: auto;
  margin-bottom: 52px;
}

section.content div.container div.description .row-items div span {
  max-width: 290px;
}

section.content div.container div.info-panel {
  text-align: center;
}

section.content div.container div.action {
  width: 100%;
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.content div.container div.action .exchange-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.content div.container div.action .exchange-button .dex-icon {
  height: 200px;
  font-size: 120px;
  line-height: 200px;
  width: auto;
}

section.content div.container div.action .exchange-button .expand {
  width: 36px;
  height: 36px;
}

section.content div.container div.ack-prompt {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 30px auto;
      grid-template-columns: 30px auto;
  line-height: 21px;
  max-width: 630px;
  margin: auto;
  font-size: 70%;
  text-align: center;
}

section.content div.container div.ack-prompt i {
  color: #28a5c8;
  cursor: pointer;
}

#background-task-tracker {
  margin: 70px 0;
}

#background-task-tracker ul.messages {
  color: #fff;
  line-height: 28px;
  list-style-type: none;
  margin: 0;
  padding: 30px 0px 30px 0px;
  text-align: center;
}

#background-task-tracker ul.messages.big {
  font-size: 36px;
  line-height: 94px;
}

#background-task-tracker img {
  height: 105px;
  width: auto;
}

#background-task-tracker.video-tracker {
  z-index: 120;
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#background-task-tracker.video-tracker .spinner {
  display: none;
}

div.spinner {
  display: -ms-grid;
  display: grid;
  margin: auto;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: .8s spin infinite;
          animation: .8s spin infinite;
  border: 4px solid #323232;
  border-radius: 50%;
  border-bottom-color: #0a6e87;
  border-right-color: #0a6e87;
  border-top-color: #0a6e87;
  height: 100px;
  width: 100px;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.body-blackout {
  display: none;
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
}

.body-blackout.is-blacked-out {
  display: block;
}

.modal {
  min-height: 400px;
  max-height: 565px;
  width: 480px;
  background-color: #282828;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 45px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 1011;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
}

.modal.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.modal .modal__close {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.modal .overflow-box {
  width: 100%;
  height: 490px;
  padding: 0 10px;
  overflow-y: scroll;
}

.modal .overflow-box p {
  font-weight: 400;
  font-size: 50%;
  text-align: left;
}

.tooltip-item:not(button) {
  color: #28a5c8;
}

.tooltip-item {
  position: relative;
  display: inline-block;
}

.tooltip-item:hover > .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  font-size: 18px;
  text-align: left;
  color: #fff;
  position: absolute;
  z-index: 50;
  bottom: 100%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 400px;
  margin-left: -250px;
  padding: 15px;
  background-color: #3c3c3c;
  border-radius: 10px;
}

.tooltip ul {
  margin: 10px 0;
  list-style-type: disc;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.tooltip ul li {
  margin-bottom: 10px;
}

.tooltip ul li:last-child {
  margin-bottom: 0;
}

.tooltip.is-visible {
  visibility: visible;
  opacity: 1;
}

.question {
  width: 200px;
  position: fixed;
  bottom: 30px;
  right: 45px;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu {
  margin-top: 18px;
  width: 270px;
  border: 2px solid;
  border-color: #28a5c8;
  border-radius: 29px;
  font-size: 18px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu.is-visible {
  visibility: visible;
  opacity: 1;
}

.menu button {
  border-right: none;
  border-left: none;
  border-radius: 0;
  border-top: 1px solid #28a5c8;
  border-bottom: 1px solid #28a5c8;
}

.menu button .estimation {
  font-size: 12px;
  line-height: 24px;
}

.menu button:first-of-type {
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top: none;
}

.menu button:last-of-type {
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom: none;
}

.video-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: #000000;
  z-index: 110;
}

.video-wrapper.is-visible {
  display: block;
}

.video-wrapper video {
  height: 80%;
  width: 100%;
  z-index: 130;
}
/*# sourceMappingURL=app.css.map */