{% extends "base.html" %}

{% block content %}
<h1>Backup Wallet</h1>
<div class="hero">
  Write down your private key and keep it safe to recover your wallet in the future
</div>

<div class="info-panel">
  <p>Your private key (click to copy)</p>
  <div class="action-copy-paste">
    <span class="highlighted private private-key">
      {{ configuration_file.account.private_key.hex() }}
    </span>
  </div>
  <p>
    Be aware everyone with access to this privatekey and / or your
  keystore and passphrase installed on your computer will be able to
  access your Raiden account
  </p>
</div>
<div class="action">
  <a class="button" href="{{ reverse_url('funding', configuration_file.file_name) }}">
    Next
  </a>
</div>
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">
 window.addEventListener("load", function() {
   let account_div_elem = document.querySelector("div.info-panel > div");
   let account_private_key_elem = account_div_elem.querySelector("span.private");

   account_div_elem.addEventListener("click", function(evt) {
     copyToClipboard(account_div_elem, account_private_key_elem);
   });
 });
</script>

{% end %}
