{% extends "base.html" %}

{% block content %}
<h2>Unlock your Raiden Account</h2>

<div class="hero">
    Please enter the passphrase for your Raiden Account<br> 
</div>

<div class="info-panel">
  <div>
    <input type="password" name="passphrase" placeholder="Please type your password" />
    <a>
      <img id="eye" class="icon-link" src="{{ static_url('images/eye.svg') }}" />
    </a>
  </div>
  <div class="error-box">
    <span class="error" hidden></span>
  </div>
</div>

<div class="action">
  <button type="submit">Unlock</button>
</div>
{% end %}

{% block question_items %}
  <li>
    The Raiden Network is an off-chain scaling solution for performing ERC20-compliant 
    token transfers on the Ethereum blockchain. It is Ethereum's version of 
    Bitcoin's Lightning Network, enabling near-instant, low-fee, scalable, and privacy-preserving payments. 
  </li>
  <li>
    The Raiden Network allows secure transfers of tokens between participants without the need for global consensus. 
    This is achieved using digitally signed and hash-locked transfers, called balance proofs, 
    fully collateralized by previously setup on-chain deposits.
  </li>
  <li>
    Payment channels allow for practically unlimited, bidirectional transfers between two participants, 
    as long as the net sum of their transfers does not exceed the deposited tokens
  </li>
  <li>
    These transfers can be performed instantaneously and without any involvement of the actual blockchain itself,
    except for an initial one-time on-chain creation and an eventual closing of the channel. 
  </li>
{% end %}

{% block page_header_scripts %}
  <script type="text/javascript">
    const KEYSTORE_FILE_PATH = "{{ keystore_file_path }}";
    const RETURN_TO = "{{ return_to }}";
  </script>
  <script type="text/javascript" src="{{ static_url('js/account_unlock.js') }}"></script>
{% end %}
