{% extends "base.html" %}

{% block content %}
<h1>Connect Infura</h1>
<div class="hero">
    We are creating a new wallet for Raiden. Please enter a passphrase. You will need this every time you start Raiden.
</div>

<div class="info-panel">
  <div>
    <input type="password" name="passphrase1" placeholder="Secure password. This will be needed every time you start Raiden." />
  </div>
    <input type="password" name="passphrase2" placeholder="Please confirm!" />
  </div>
  <span class="error" hidden></span>
</div>

<div class="action">
  <button type="submit" disabled>Create</button>
</div>

</div>
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">


 window.addEventListener("load", function() {
   const API_CONFIGURATION_LIST_ENDPOINT = "/api/configurations";
   const passphrase1 = document.querySelector("input[name=passphrase1]");
   const passphrase2 = document.querySelector("input[name=passphrase2]");
   const error_display = document.querySelector("span.error");
   const submit_button = document.querySelector("button");

 function checkPassphraseMatch(evt) {
     const error_message = "Passwords not matching";
     valid = false;

     if (evt.target.value) {
         if (passphrase1.value == passphrase2.value) {
             valid = true;
         }
     }
     if (valid) {
       error_display.hidden = true;
       submit_button.disabled = false;
     } else {
       error_display.textContent = error_message;
       error_display.hidden = false;
       submit_button.disabled = true;
     }
   }

   function postConfiguration(evt) {
     const data = JSON.stringify({
       passphrase1: passphrase1.value,
       passphrase2: passphrase2.value
     });

     const req = new XMLHttpRequest();

     req.onload = function() {
       if (this.status == 201) {
         const new_config_url = this.getResponseHeader("Location");
         const config_req = new XMLHttpRequest();

         config_req.onload = function() {
           if (this.status == 200){
             let config_data = JSON.parse(this.response);
             document.location = config_data.account_page_url;
           }
         };
         config_req.open("GET", new_config_url);
         config_req.send();
       }
     }

     req.open("POST", API_CONFIGURATION_LIST_ENDPOINT, true);
     req.setRequestHeader("Content-Type", "application/json");
     req.send(data);
     toggleView();

     addFeedbackMessage("Generating new wallet file for raiden");
   }

     // FIXME: network needs to be set from previous page
   function submitPassphrase(evt) {
     WEBSOCKET.send(JSON.stringify({
       method: "create_wallet",
       passphrase1: passphrase1.value,
       passphrase2: passphrase2.value,
       network: "mainnet"
     }));

     toggleView();
   }

   // Attaching event handlers
   passphrase1.addEventListener("input", checkPassphraseMatch);
   passphrase2.addEventListener("input", checkPassphraseMatch);
   submit_button.addEventListener("click", submitPassphrase);

 });
</script>
{% end %}
