{% extends "base.html" %}

{% block content %}
<div class="hero">
    Please enter a passphrase for your new Raiden Account<br> 
    You will need it every time you start Raiden
</div>

<div class="info-panel">
  <div>
    <input type="password" name="passphrase1" placeholder="Secure password" />
    <a>
      <img id="eye" class="icon-link" src="{{ static_url('images/eye.svg') }}" />
    </a>
  </div>
  <div>
    <input type="password" name="passphrase2" placeholder="Please confirm" />
    &emsp;
  </div>
  <div class="error-box">
    <span class="error" hidden></span>
  </div>
</div>

<div class="action">
  <button type="submit" disabled>Create</button>
</div>
{% end %}

{% block question_items %}
  <li>
    Raiden Accounts are Ethereum Accounts defined by a pair of keys, a
    private key and public key.
  </li>
  <li>
    Every private key/address pair is encoded in a keystore file. They are
    JSON text files which you can open and view in any text editor.
  </li>
  <li>
    The critical component of the keystore file, your account's private key, is
    always encrypted, and it is encrypted with the password you enter here.
  </li>
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">


 window.addEventListener("load", function() {
   setProgressStep(0, 'Create a Raiden Account');

   const passphrase1 = document.querySelector("input[name=passphrase1]");
   const passphrase2 = document.querySelector("input[name=passphrase2]");
   const error_display = document.querySelector("span.error");
   const submit_button = document.querySelector("button");

 function checkPassphraseMatch(evt) {
     const error_message = "Passwords not matching";
     valid = false;

     if (evt.target.value) {
         if (passphrase1.value == passphrase2.value) {
             valid = true;
         }
     }
     if (valid) {
       error_display.hidden = true;
       submit_button.disabled = false;
     } else {
       error_display.textContent = error_message;
       error_display.hidden = false;
       submit_button.disabled = true;
     }
   }

   function submitPassphrase(evt) {
     WEBSOCKET.send(JSON.stringify({
       method: "create_wallet",
       passphrase1: passphrase1.value,
       passphrase2: passphrase2.value
     }));

     toggleView();
   }

   // Attaching event handlers
   passphrase1.addEventListener("input", checkPassphraseMatch);
   passphrase2.addEventListener("input", checkPassphraseMatch);
   submit_button.addEventListener("click", submitPassphrase);
 });
</script>
{% end %}
