{% extends "base.html" %}

{% block content %}
<div class="hero">
    Please enter a passphrase for your new Raiden Account<br> 
    You will need it every time you start Raiden
</div>

<div class="info-panel">
  <div>
    <input type="password" name="passphrase1" placeholder="Secure password" />
  </div>
  <div>
    <input type="password" name="passphrase2" placeholder="Please confirm" />
  </div>
  <div class="error-box">
    <span class="error" hidden></span>
  </div>
</div>

<div class="action">
  <button type="submit" disabled>Create</button>
</div>
{% end %}

{% block question %}
<div class="question">
  <span class="tooltip-item">
    <a target="_blank">
      <img class="icon-link big" src="{{ static_url('images/question.png') }}" alt="Questions" />
    </a>
    <div class="tooltip">
      <ul>
        <li>
          Raiden Accounts are Ethereum Accounts defined by a pair of keys, a
          private key and public key.
        </li>
        <li>
          Every private key/address pair is encoded in a keystore file. They are
          JSON text files which you can open and view in any text editor.
        </li>
        <li>
          The critical component of the keystore file, your account's private key, is
          always encrypted, and it is encrypted with the password you enter here.
        </li>
        <li>
          Do you need additional help? See <a href="https://gitter.im/raiden-network/raiden" target="_blank">Raiden Gitter Chat</a>
        </li>
      </ul>
    </div>
  </span>
</div>
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">


 window.addEventListener("load", function() {
   setProgressStep(0, 'Create a Raiden Account');

   const API_CONFIGURATION_LIST_ENDPOINT = "/api/configurations";
   const passphrase1 = document.querySelector("input[name=passphrase1]");
   const passphrase2 = document.querySelector("input[name=passphrase2]");
   const error_display = document.querySelector("span.error");
   const submit_button = document.querySelector("button");

 function checkPassphraseMatch(evt) {
     const error_message = "Passwords not matching";
     valid = false;

     if (evt.target.value) {
         if (passphrase1.value == passphrase2.value) {
             valid = true;
         }
     }
     if (valid) {
       error_display.hidden = true;
       submit_button.disabled = false;
     } else {
       error_display.textContent = error_message;
       error_display.hidden = false;
       submit_button.disabled = true;
     }
   }

   function postConfiguration(evt) {
     const data = JSON.stringify({
       passphrase1: passphrase1.value,
       passphrase2: passphrase2.value
     });

     const req = new XMLHttpRequest();

     req.onload = function() {
       if (this.status == 201) {
         const new_config_url = this.getResponseHeader("Location");
         const config_req = new XMLHttpRequest();

         config_req.onload = function() {
           if (this.status == 200){
             let config_data = JSON.parse(this.response);
             forceNavigation(config_data.account_page_url);
           }
         };
         config_req.open("GET", new_config_url);
         config_req.send();
       }
     }

     req.open("POST", API_CONFIGURATION_LIST_ENDPOINT, true);
     req.setRequestHeader("Content-Type", "application/json");
     req.send(data);
     toggleView();

     addFeedbackMessage("Generating new wallet file for raiden");
   }

   function submitPassphrase(evt) {
     WEBSOCKET.send(JSON.stringify({
       method: "create_wallet",
       passphrase1: passphrase1.value,
       passphrase2: passphrase2.value,
       network_name: "{{ network_name }}"
     }));

     toggleView();
   }

   // Attaching event handlers
   passphrase1.addEventListener("input", checkPassphraseMatch);
   passphrase2.addEventListener("input", checkPassphraseMatch);
   submit_button.addEventListener("click", submitPassphrase);
 });
</script>
{% end %}
