{% extends "base.html" %} {% block content %}
<h2>Fund your Raiden Account with ETH</h2>

<div class="hero">
  We generated a
  <span class="tooltip-item">
    Raiden Account
    <div class="tooltip">
      <ul>
        <li>Raiden accounts are Ethereum accounts defined by a pair of keys, a private key and public key.</li>
        <li>Every private key/address pair is encoded in a keyfile. Keyfiles are JSON text files which you can open and view in any text editor.</li>
        <li>You need to download and store this keyfile somewhere safe.</li>
        <li>The critical component of the keyfile, your account's private key, is always encrypted, and it is encrypted with the password you entered when you created the account.</li>
        <li>You can restore your account and with this keyfile and the password via Metamask.</li>
      </ul>
    </div>
  </span>
  for you
</div>

<div class="info-panel">
  You need to download the Raiden Account&nbsp;
  <a
    href="{{ reverse_url('keystore', configuration_file.file_name, keystore) }}"
    download
  >
    <img class="icon-link" src="{{ static_url('images/download.svg') }}" alt="Download link" />
  </a>
</div>

<div class="action">
  <button
    disabled
    class="hide-when-disabled"
    id="btn-web3-eth"
    onClick="sendEthViaWeb3();"
  >
    Send {{ ethereum_required.formatted }}
  </button>
  <span id="no-web3">
    You need MetaMask to proceed&nbsp;
    <a href="https://metamask.io/download.html" target="_blank">
      <img class="icon-link big" src="{{ static_url('images/metamask.svg') }}" alt="Download MetaMask" />
    </a>
  </span>
</div>
{% end %} {% block page_header_scripts %}
<script type="text/javascript">

 const WEB3_ETH_AMOUNT_ATTRIBUTE = "data-requested-eth-amount";
 const TARGET_ADDRESS = "{{ configuration_file.account.address }}";

  async function checkWeb3Network() {
    let required_chain_id = "{{ configuration_file.network.chain_id }}";
    await connectWeb3();
    web3.version.getNetwork(function (error, chain_id) {
      if (error) {
        console.error(error);
      }

      if (chain_id != required_chain_id) {
        let current_chain_name = CHAIN_ID_MAPPING[chain_id];
        let required_chain_name = CHAIN_ID_MAPPING[required_chain_id];
        alert(
          `Web3 Browser connected to ${current_chain_name}, please change to ${required_chain_name}.`
        );
      }
    });
  }

  function makeWeb3Transaction(w3, transaction_data) {
    w3.eth.sendTransaction(transaction_data, function (error, result) {
      if (result) {
        // result is the transaction hash
        trackTransaction(result, "{{ configuration_file.file_name }}");
      }

      if (error) {
        console.error(error);
      }
    });
  }

 async function sendEthViaWeb3(wei_to_send) {
   await checkWeb3Network();
   let web3 = window.web3;
   let sender_address = (window.ethereum && window.ethereum.selectedAddress) || web3.eth.defaultAccount;
   let gasPrice;

   try {
     const ethStationResponse = await fetch("https://ethgasstation.info/api/ethgasAPI.json")
       .then(response => response.json());
     gasPrice = ethStationResponse.fast * 10e7;
   } catch {
     console.err("Could not fetch gas price. Falling back to web3 gas price.");
   }

   let transaction_data = {
     from: sender_address,
     to: TARGET_ADDRESS,
     value: wei_to_send || ETHEREUM_REQUIRED_AMOUNT,
   }

   if (gasPrice) {
     transaction_data.gasPrice = gasPrice;
   }
   
   makeWeb3Transaction(web3, transaction_data);
 };

 function checkWeb3Available() {
   let has_web3 = Boolean(window.ethereum || window.web3);
   let button_send_eth = document.getElementById("btn-web3-eth");
   let noWeb3Text = document.getElementById("no-web3");

   button_send_eth.disabled = !has_web3;
   if (has_web3) {
     noWeb3Text.style.display = 'none';
   } else {
    noWeb3Text.style.display = 'inline';
   }
 }

 async function poll() {
   checkWeb3Available();

   let balance = await getBalances("{{ reverse_url('api-configuration-detail', configuration_file.file_name) }}");
   
   if (hasEnoughBalanceToLaunchRaiden(balance)) {
     let button_send_eth = document.getElementById("btn-web3-eth");
     button_send_eth.disabled = true;
     const action = document.querySelector('.action');
     action.classList.add('tx-received');
     setTimeout(function() {
        window.location.href = "{{ reverse_url('swap', configuration_file.file_name, 'RDN') }}";
     }, 1000);
   }
   document.getElementById("btn-web3-eth").addEventListener("click", disableButton);
 }

 function disableButton() {
    document.getElementById("btn-web3-eth").disabled = true;
    setTimeout(function() {
        document.getElementById("btn-web3-eth").disabled = false;
    }, 10000);
 }

 function main() {
   poll();
 }

 window.addEventListener("load", function () {

   window.MAIN_VIEW_INTERVAL = 10000;
   window.runMainView();
 });
</script>

{% end %}
