{% from eth_utils import to_checksum_address %}

<!DOCTYPE html>
<html>
  <head>
    <title>Raiden Wizard</title>
    <link rel="shortcut icon" type="image/png" href="{{ static_url('icons/favicon.png') }}">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ static_url('css/app.css') }}"
    />
    <script type="text/javascript">
      const WEBSOCKET = new WebSocket("ws://{{ request.host }}{{ reverse_url('websocket') }}");
      const SERVICE_TOKEN_REQUIRED_AMOUNT = parseInt("{{ service_token_required.as_wei }}");
      const TRANSFER_TOKEN_REQUIRED_AMOUNT = parseInt("{{ transfer_token_required.as_wei }}");
      const ETHEREUM_REQUIRED_AMOUNT = parseInt("{{ ethereum_required.as_wei }}");
      const ETHEREUM_REQUIRED_AMOUNT_AFTER_SWAP = parseInt("{{ ethereum_required_after_swap.as_wei }}");
      const ICON_URLS = {
        RDN: "{{ static_url('images/rdn.png') }}",
        DAI: "{{ static_url('images/dai.png') }}",
        error: "{{ static_url('images/error.svg') }}",
      };
      const LAUNCH_VIDEO_URL = "{{ static_url('videos/launch-video.mp4') }}";

      const EIP20_ABI = {% raw eip20_abi %};

      const EYE_OPEN_URL = "{{ static_url('images/eye_open.svg') }}";      
      const EYE_CLOSED_URL = "{{ static_url('images/eye.svg') }}";      
    </script>
    <script type="text/javascript" src="{{ static_url('js/base.js') }}"></script>

    {% block page_header_scripts %} {% end %}
  </head>
  <body>
    <div class="video-wrapper"></div>
    <div class="body-blackout"></div>
    <div class="logo {% block logo_class %}business-card{% end %}">
      <img src="{{ static_url('images/raiden.png') }}" alt="Raiden Network" />
    </div>
    <section class="content">
      <div class="progress">
        <div class="steps">
          <div class="circle">
            <img src="{{ static_url('images/wallet.svg') }}" alt="Wallet" />
          </div>
          <div class="divider"></div>
          <div class="circle">
            <img src="{{ static_url('images/connect.svg') }}" alt="Connect" />
          </div>
          <div class="divider"></div>
          <div class="circle">
            <img src="{{ static_url('images/eth.png') }}" alt="ETH" />
          </div>
          <div class="divider"></div>
          <div class="circle">
            <img src="{{ static_url('images/rdn.png') }}" alt="RDN" />
          </div>
          <div class="divider"></div>
          <div class="circle">
            <img src="{{ static_url('images/dai.png') }}" alt="DAI" />
          </div>
          <div class="divider"></div>
          <div class="circle">
            <img class="rounded" src="{{ static_url('images/raiden-ball.jpg') }}" alt="Launch Raiden" />
          </div>
        </div>
        <h2></h2>
      </div>
      <div class="container">
        {% block content %} {% end %}
      </div>
      <div id="background-task-tracker" hidden>
        <div class="spinner task-status-icon"></div>
        <ul class="messages"></ul>
      </div>

      <div class="question {% block question_class %}{% end %}">
        <span class="tooltip-item">
          <img src="{{ static_url('images/question.png') }}" alt="Questions" />
          <div class="tooltip">
            <ul>
              {% block question_items %} {% end %}
              <li>
                Do you need additional help? See 
                  <a href="https://gitter.im/raiden-network/raiden" target="_blank">
                    Raiden Gitter Chat
                  </a>
              </li>
            </ul>
          </div>
        </span>
      </div>
    </section>
  </body>
</html>
