{% extends "base.html" %}

{% block content %}
<h1>Launcher</h1>
<div class="hero">
  Available configurations
</div>
<div class="info-panel">
  <ul class="available-configurations">
  </ul>
</div>
</div>
{% end %}

{% block question %}
<div class="question">
  <span class="tooltip-item">
    <a target="_blank">
      <img class="icon-link big" src="{{ static_url('images/question.png') }}" alt="Questions" />
    </a>
    <div class="tooltip">
      <ul>
        <li> 
          The Raiden Network is an off-chain scaling solution for performing ERC20-compliant 
          token transfers on the Ethereum blockchain. It is Ethereum's version of 
          Bitcoin's Lightning Network, enabling near-instant, low-fee, scalable, and privacy-preserving payments. 
        </li>
        <li>
          The Raiden Network allows secure transfers of tokens between participants without the need for global consensus. 
          This is achieved using digitally signed and hash-locked transfers, called balance proofs, 
          fully collateralized by previously setup on-chain deposits.
        </li>
        <li>
          Payment channels allow for practically unlimited, bidirectional transfers between two participants, 
          as long as the net sum of their transfers does not exceed the deposited tokens
        </li>
        <li>
          These transfers can be performed instantaneously and without any involvement of the actual blockchain itself,
          except for an initial one-time on-chain creation and an eventual closing of the channel. 
        </li>
      </ul>
    </div>
  </span>
</div>
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">


 window.addEventListener("load", function() {
   const API_CONFIGURATION_LIST_ENDPOINT = "/api/configurations";
   const configuration_list_container = document.querySelector("ul.available-configurations");

   function addConfiguration(configuration_data) {
     // Function that loads existing configuration asynchronously,
     // To avoid taking too-long to load all configurations before rendering anything.
     const configuration_item_container = document.createElement("li");
     const account_element = document.createElement("span");
     const network_element = document.createElement("span");
     const balance_element = document.createElement("span");
     const launch_button = document.createElement("button");

     let balance = configuration_data.balance;

     let eth_balance = (balance.ETH && balance.ETH.formatted) || "ETH N/A";
     let service_token_balance = 
      (balance.service_token && balance.service_token.formatted) || "N/A";

     account_element.classList.add("account");
     network_element.classList.add("network");
     balance_element.classList.add("balance");

     account_element.textContent = configuration_data.account;
     network_element.textContent = configuration_data.network;
     balance_element.textContent = "Balance: " + eth_balance + " / " + service_token_balance;

     launch_button.textContent = "Launch";

     launch_button.addEventListener("click", function(evt){
       launchRaiden(configuration_data.file_name);
     });

     configuration_item_container.appendChild(account_element);
     configuration_item_container.appendChild(network_element);
     configuration_item_container.appendChild(balance_element);
     configuration_item_container.appendChild(launch_button);

     configuration_list_container.appendChild(configuration_item_container);
   }

   function getExistingConfigurations() {
     const req = new XMLHttpRequest();
     req.open("GET", API_CONFIGURATION_LIST_ENDPOINT, true);

     req.onload = function() {
       if (this.status == 200) {
         const urls = JSON.parse(this.response);
         urls.forEach(function(conf_url) {
           var conf_req = new XMLHttpRequest();
           conf_req.open("GET", conf_url, true);
           conf_req.onload = function() {
             if (this.status == 200) {
               addConfiguration(JSON.parse(this.response));
             }
           }
           conf_req.send();
         });
       }
     }

     req.send();
   }

   // Load configurations
   getExistingConfigurations();
 });
</script>
{% end %}
