{% extends "base.html" %}

{% block content %}
<h1>Fund Account</h1>
<div class="hero">
  Raiden needs funds for its operation
</div>

<div class="info-panel">
  <p>
    The account that was generated for the operation of Raiden needs
    to have funds of different kinds:
  </p>
  <ul class="funding-requirements">
    <li>
      ETH is required to create payment channels. You should have at
      least <strong>{{ ethereum_required.formatted }}</strong> when first launching
      raiden.
    </li>
    <li>
      {{ service_token_required.ticker }} is the token used by the
      <a href="https://medium.com/raiden-network/raiden-service-bundle-explained-f9bd3f6f358d" target="_blank">
        Raiden Service Bundle</a>. You should have approx. <strong>{{ service_token_required.formatted }}</strong> deposited into this account.
    </li>
    <li>
      {{ transfer_token_required.ticker }} is the token which will be used
      initially and that you will be able to make transfers through
      the raiden channels. Please be ready to transfer about <strong>{{ transfer_token_required.formatted }}</strong>.
    </li>
  </ul>

  <div class="address-detail">
    <p>Account Address</p>
    <div class="action-copy-paste">
      <span class="account-address highlighted">{{ configuration_file.account.address }}</span>
    </div>
  </div>
  
  <div class="transfer-data-display">
    <div>
      <p>Current balance</p>
      <ul class="account-info">
        <li>
          <span class="account-eth-balance highlighted">N/A ETH</span>
        </li>
        <li>
          <span class="account-service-token-balance highlighted">N/A {{ service_token_required.ticker }}</span>
        </li>
        <li>
          <span class="account-transfer-token-balance highlighted">N/A {{ transfer_token_required.ticker }}</span>
        </li>        
      </ul>

      <ul class="action-list">
        <li>
          <button disabled class="hide-when-disabled" id="btn-web3-eth" onClick="sendEthViaWeb3();">
            Send {{ ethereum_required.formatted }}
          </button>
        </li>
        <li>
          <button disabled class="hide-when-disabled" id="btn-web3-service-token" onClick="sendServiceToken();">
            Send {{ service_token_required.formatted }}
          </button>
        </li>
        <li>
          <button disabled class="hide-when-disabled" id="btn-web3-transfer-token" onClick="sendTransferToken();">
            Send {{ transfer_token_required.formatted }}
          </button>
        </li>        
      </ul>
    </div>
    <div>
      <p>QR Code</p>
      <div id="address-qr-code" class="qr-code"></div>
    </div>
  </div>

  <div class="exchange-options-display">
    <p>
      If you don't have any of the required tokens but have ETH deposited in the account, the Wizard can connect you to exchanges
    </p>
    <div class="exchange action">
      <button disabled
              id="btn-swap-service-token"
              class="link-button"
              data-link-url="{{ reverse_url('swap-options', configuration_file.file_name, service_token_required.ticker) }}">
        Exchange ETH for {{ service_token_required.ticker }}
      </button>
      <button disabled
              id="btn-swap-transfer-token"
              class="link-button"
              data-link-url="{{ reverse_url('swap-options', configuration_file.file_name, transfer_token_required.ticker) }}">
        Exchange ETH for {{ transfer_token_required.ticker }}
      </button>
    </div>
  </div>

</div>
<div class="action">
  <button disabled
          id="btn-launch" class="link-button"
          data-link-url="{{ reverse_url('launch', configuration_file.file_name) }}">
    Launch
  </button>
</div>
{% end %}


{% block page_header_scripts %}
<script type="text/javascript">
 const WEB3_ETH_AMOUNT_ATTRIBUTE = "data-requested-eth-amount";
 const WEB3_RDN_AMOUNT_ATTRIBUTE = "data-requested-rdn-amount";
 const KYBER_EXCHANGE_RATE_ATTRIBUTE = "data-kyber-exchange-rate";
 const TARGET_ADDRESS = "{{ configuration_file.account.address }}";

 async function checkWeb3Network() {
   let required_chain_id = "{{ configuration_file.network.chain_id }}";
   await connectWeb3();
   web3.version.getNetwork(function(error, chain_id){
     if (error) {
       console.error(error);
     }

     if (chain_id != required_chain_id) {
       let current_chain_name = CHAIN_ID_MAPPING[chain_id];
       let required_chain_name = CHAIN_ID_MAPPING[required_chain_id];
       alert(`Web3 Browser connected to ${current_chain_name}, please change to ${required_chain_name}.`);
     }
   })
 }

 function makeWeb3Transaction(w3, transaction_data) {
   w3.eth.sendTransaction(transaction_data, function(error, result) {
     if (result) {
       // result is the transaction hash
       trackTransaction(result, "{{ configuration_file.file_name }}");
     }

     if (error) {
       console.error(error);
     }
   });
 }

 async function sendEthViaWeb3(wei_to_send) {
   await checkWeb3Network();
   let web3 = window.web3;
   let sender_address = (window.ethereum && window.ethereum.selectedAddress) || web3.eth.defaultAccount;
   
   try {

    eth_station_response = await fetch("https://ethgasstation.info/api/ethgasAPI.json").then(response => response.json())
    gas_price = eth_station_response["fast"] * 10e7


   }
   catch{
     console.err("Could not fetch gas price. Falling back to web3 gas price.")
   }

   let transaction_data = {
     from: sender_address,
     to: TARGET_ADDRESS,
     value: wei_to_send || ETHEREUM_REQUIRED_AMOUNT,
   }
   if(gas_price){
     transaction_data["gasPrice"] = gas_price
   }

   makeWeb3Transaction(web3, transaction_data);
   }

 async function sendErc20Token(amount, token_address) {
   await checkWeb3Network();
   
   let web3 = window.web3;
   let contract = web3.eth.contract(EIP20_ABI).at(token_address);
   let contract_data = contract.transfer.getData(TARGET_ADDRESS, amount);
   let sender_address = (window.ethereum && window.ethereum.selectedAddress) || web3.eth.defaultAccount;
   
   let transaction_data = {
     from: sender_address,
     to: token_address,
     data: contract_data
   }
   
   return makeWeb3Transaction(web3, transaction_data);   
 }

 async function sendServiceToken() {
   let amount = SERVICE_TOKEN_REQUIRED_AMOUNT;
   let address = "{{ service_token_required.currency.address }}";
   return await sendErc20Token(amount, address);
 }

 async function sendTransferToken() {
   let amount = TRANSFER_TOKEN_REQUIRED_AMOUNT;
   let address = "{{ transfer_token_required.currency.address }}";
   return await sendErc20Token(amount, address);
 }

 async function poll() {
   let balance = await getBalances("{{ reverse_url('api-configuration-detail', configuration_file.file_name) }}");

   let button_launch = document.getElementById("btn-launch");
   let button_swap_service_token = document.getElementById("btn-swap-service-token");
   let button_swap_transfer_token = document.getElementById("btn-swap-transfer-token");   
   let has_web3 = Boolean(window.ethereum || window.web3);

   updateBalanceDisplay(balance, {
     ethereum_element: document.querySelector("span.account-eth-balance"),
     service_token_element: document.querySelector("span.account-service-token-balance"),
     transfer_token_element: document.querySelector("span.account-transfer-token-balance")
   });
   
   button_launch.disabled = !(hasEnoughBalanceToLaunchRaiden(balance));
   button_swap_service_token.disabled = button_swap_transfer_token.disabled = !(balance.ETH && balance.ETH.as_wei > 0);
 }

 function generateQRCode(display_element) {
   let address = "{{ configuration_file.account.address }}";

   return new QRCode(display_element, {
     text: `ethereum:${address}`,
     colorDark : "#000000",
     colorLight : "#ffffff",
     correctLevel : QRCode.CorrectLevel.H
   });
 }

 function main() {
   poll();
 }

 window.addEventListener("load", async function () {
   let has_web3 = Boolean(window.ethereum || window.web3);
   let button_send_eth = document.getElementById("btn-web3-eth");
   let button_send_rdn = document.getElementById("btn-web3-service-token");
   let button_send_dai = document.getElementById("btn-web3-transfer-token");   

   button_send_eth.disabled = button_send_rdn.disabled = button_send_dai.disabled = !has_web3;
 });

 window.addEventListener("load", function () {
   let address_div_elem = document.querySelector("div.action-copy-paste");
   let account_address_elem = address_div_elem.querySelector("span.account-address");
   let qr_code = generateQRCode(document.getElementById("address-qr-code"));


   address_div_elem.addEventListener("click", function(evt) {
     copyToClipboard(address_div_elem, account_address_elem);
   });

   window.MAIN_VIEW_INTERVAL = 10000;
   window.runMainView();
 });
</script>
{% end %}
