{% extends "base.html" %}

{% block logo_class %}home{% end %}

{% block content %}
<h1>{{ network.capitalized_name }} Wizard</h1>
<div class="hero">
  Your tool to easily start running and operating a Raiden fullnode
</div>

<div class="info-panel"></div>

<div class="action">
  {% if configuration_file %}
  <button class="link-button" data-link-url="{{ reverse_url('launch', configuration_file.file_name) }}" disabled>
    Launch
  </button>
  {% else %}
  <button class="link-button" id="setup-button" disabled>Start</button>
  <select id="network-name-select">
    <option>goerli</option>
    <option>mainnet</option>
  </select>
  {% end %}
</div>

<div class="ack-prompt">
  <input type="checkbox" name="ack-wizard" />
  <label for="ack-wizard">
    I acknowledge that I am fully responsible for the usage of the
    Wizard and I am aware of risks of operating software that
    involves transactions in the Ethereum blockchain
  </label>
</div>
{% end %}


{% block page_header_scripts %}
<script type="text/javascript">
 window.addEventListener("load", function() {

   let checkboxes = document.querySelectorAll("input[type=checkbox]");
   let button = document.querySelector("button.link-button");
   checkAcknowledgements(checkboxes, button);

   let setupButton = document.getElementById("setup-button");
   if(setupButton) {
     let networkNameSelect = document.getElementById("network-name-select");
     let setupUrlFormat = decodeURI("{{ reverse_url('setup', '§') }}");
     updateSetupButton = function() {
       setupUrl = setupUrlFormat.replace("§", networkNameSelect.value);
       setupButton.setAttribute("data-link-url", setupUrl);
     };
     updateSetupButton();
     networkNameSelect.onchange = updateSetupButton;
   }

 });

</script>
{% end %}
