{% extends "base.html" %}

{% block question_class %}hidden{% end %}

{% block content %}
<div class="hero">
  Your Raiden Account is funded with the following coins
</div>

<div class="info-panel">
  <div class="spinner"></div>
  <ul class="checklist">
    <li data-check="eth-balance">
      <span class="check-value highlighted"></span>
    </li>
    <li data-check="service-token-balance">
      <span class="check-value highlighted"></span>
    </li>
    <li data-check="transfer-token-balance">
      <span class="check-value highlighted"></span>
    </li>
  </ul>
</div>

<div class="action">
  <button id="btn-funding" class="link-button hide-when-disabled" data-link-url="{{ reverse_url('account', configuration_file.file_name) }}" disabled>
    Add funds
  </button>

  <button id="btn-launch" class="hide-when-disabled" onClick="launchRaiden('{{ configuration_file.file_name }}');" disabled>
    Launch Raiden
  </button>
</div>
{% end %}

{% block page_header_scripts %}
  <script type="text/javascript">
  const CONFIGURATION_DETAIL_URL = 
    "{{ reverse_url('api-configuration-detail', configuration_file.file_name) }}";
  </script>
  <script type="text/javascript" src="{{ static_url('js/launch.js') }}"></script>
{% end %}
