{% extends "base.html" %}

{% block content %}
<h2>Connect to the Ethereum Blockchain</h2>

<div class="hero">
  Provide your Infura ID to run your node&nbsp;
  <a href="https://infura.io/product" target="_blank">
      <img class="icon-link" src="{{ static_url('images/info.svg') }}" alt="Info" />
  </a>
</div>

<div class="info-panel">
  <div>
    <input type="text" name="endpoint" placeholder="Your Infura ID (or Infura endpoint URL)" />
  </div>
  <div class="error-box">
    <span class="error" hidden>You need to provide a valid Infura Project ID</span>
  </div>
</div>

<div class="action">
  <button type="submit" disabled>Confirm</button>
</div>
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">


 window.addEventListener("load", function() {
   const API_CONFIGURATION_LIST_ENDPOINT = "/api/configurations";
   const infura_project_input = document.querySelector("input[name=endpoint]");
   const error_display = document.querySelector("span.error");
   const submit_button = document.querySelector("button");

   function checkIdNotEmpty(evt) {
     const error_message = "Please enter your Infura ID.";

     if (!evt.target.value) {
       error_display.textContent = error_message;
       error_display.hidden = false;
       submit_button.disabled = true;
     }
     else {
       error_display.hidden = true;
       submit_button.disabled = false;
     }
   }

   function submitConfiguration(evt) {
     WEBSOCKET.send(JSON.stringify({
         method: "setup",
         endpoint: infura_project_input.value,
         network: "{{ network_name }}",
         account_file: "{{ account_file }}"
     }));

     toggleView();
   }


   // Attaching event handlers
   infura_project_input.addEventListener("input", checkIdNotEmpty);
   submit_button.addEventListener("click", submitConfiguration);

 });
</script>
{% end %}
