{% extends "base.html" %}

{% block content %}
<h1>Connect Infura</h1>
<div class="hero">
  Provide your existing Infura Project ID or
  <a href="https://medium.com/@raiden_network/6c7c61c5b695" target="_blank">click here</a> for instructions on how to get one.
</div>

<div class="info-panel">
  <div>
    <input type="text" name="endpoint" placeholder="Your Infura ID (or Infura endpoint URL)" />
  </div>
  <span class="error" hidden>You need to provide a valid Infura Project ID</span>
</div>

<div class="action">
  <button type="submit" disabled>Confirm</button>
</div>
</div>
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">


 window.addEventListener("load", function() {
   const API_CONFIGURATION_LIST_ENDPOINT = "/api/configurations";
   const infura_project_input = document.querySelector("input[name=endpoint]");
   const error_display = document.querySelector("span.error");
   const submit_button = document.querySelector("button");

   function checkIdNotEmpty(evt) {
     const error_message = "Please enter your Infura ID.";

     if (!evt.target.value) {
       error_display.textContent = error_message;
       error_display.hidden = false;
       submit_button.disabled = true;
     }
     else {
       error_display.hidden = true;
       submit_button.disabled = false;
     }
   }

   function postConfiguration(evt) {
     const data = JSON.stringify({
       endpoint: infura_project_input.value
     });

     const req = new XMLHttpRequest();

     req.onload = function() {
       if (this.status == 201) {
         const new_config_url = this.getResponseHeader("Location");
         const config_req = new XMLHttpRequest();

         config_req.onload = function() {
           if (this.status == 200){
             let config_data = JSON.parse(this.response);
             document.location = config_data.account_page_url;
           }
         };
         config_req.open("GET", new_config_url);
         config_req.send();
       }
     }

     req.open("POST", API_CONFIGURATION_LIST_ENDPOINT, true);
     req.setRequestHeader("Content-Type", "application/json");
     req.send(data);
     toggleView();

     addFeedbackMessage("Generating new wallet and configuration file for raiden");
   }

   function submitConfiguration(evt) {
     WEBSOCKET.send(JSON.stringify({
       method: "setup",
       endpoint: infura_project_input.value,
       network: "{{ network_name }}"
     }));

     toggleView();
   }


   // Attaching event handlers
   infura_project_input.addEventListener("input", checkIdNotEmpty);
   submit_button.addEventListener("click", submitConfiguration);

 });
</script>
{% end %}
