{% extends "base.html" %}

{% block content %}
<h2>Swap ETH for {{ token.ticker }}</h2>

<div class="hero">
  Get {{ token.ticker }} via a decentralized exchange<br>
  Choose an exchange and then the amount of {{ token.ticker }} to swap
</div>

<div class="action big">
  <div class="popover-item">
    <button class="exchange-button" value="kyber">
      <img class="dex-icon" src="{{ static_url('images/kyber.svg') }}" alt="KyberNetwork" />
      <span>KyberNetwork</span>
      <img class="expand" src="{{ static_url('images/expand.svg') }}" alt="Expand" />
    </button>

    <div class="popover menu" id="amount-menu">
      <button class="amount-button" value="{{ swap_amount_1.as_wei }}">
        {{ swap_amount_1.formatted }}
      </button>
      <button class="amount-button" value="{{ swap_amount_2.as_wei }}">
        {{ swap_amount_2.formatted }}
      </button>
      <button class="amount-button" value="{{ swap_amount_3.as_wei }}">
        {{ swap_amount_3.formatted }}
      </button>
    </div>
  </div>

  <div class="popover-item">
    <button class="exchange-button" value="uniswap">
      <span class="dex-icon">🦄</span>
      <span>Uniswap</span>
      <img class="expand" src="{{ static_url('images/expand.svg') }}" alt="Expand" />
    </button>
  </div>
</div>

<div class="action">
  <button type="submit" disabled>Confirm</button>
</div>
{% end %}

{% block stepper %}
  {% if token.ticker == "RDN" %}
  <div class="coins">
      <img src="{{ static_url('images/eth.png') }}" alt="Raiden Network" />
      <img src="{{ static_url('images/rdn.png') }}" alt="Raiden Network" />
      <img class="transparent" src="{{ static_url('images/dai.png') }}" alt="Raiden Network" />
  </div>
  Step 4 of 6: Get RDN...
  {% elif token.ticker == "DAI" %}
  <div class="coins">
    <img src="{{ static_url('images/eth.png') }}" alt="Raiden Network" />
    <img src="{{ static_url('images/rdn.png') }}" alt="Raiden Network" />
    <img src="{{ static_url('images/dai.png') }}" alt="Raiden Network" />
  </div>
  Step 5 of 6: Get DAI...
  {% end %}
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">
  let selectedExchange = '';
  let selectedAmount = 0;

  function setupPopovers() {
    const exchangeButtons = document.querySelectorAll('.exchange-button');
    const amountMenu = document.querySelector('#amount-menu');
    const amountButtons = document.querySelectorAll('.amount-button');

    const validate = () => {
      const submitButton = document.querySelector('button[type=submit]');
      submitButton.disabled = selectedExchange === '' || selectedAmount === 0;
    };

    const selectExchange = (button) => {
      const currentButton = amountMenu.closest('.popover-item').querySelector('button');
      currentButton.classList.remove('selected');
      selectedAmount = 0;
      amountButtons.forEach((button) => button.classList.remove('selected'));

      if (selectedExchange === button.value) {
        selectedExchange = '';
        amountMenu.classList.remove('is-visible');
      } else {
        selectedExchange = button.value;
        button.classList.add('selected');
        const newPopoverItem = button.closest('.popover-item');
        amountMenu.remove();
        newPopoverItem.appendChild(amountMenu);
        amountMenu.classList.add('is-visible');
      }
      validate();
    };

    const selectAmount = (button) => {
      amountButtons.forEach((button) => button.classList.remove('selected'));
      if (selectedAmount === button.value) {
        selectedAmount = 0;
      } else {
        selectedAmount = button.value;
        button.classList.add('selected');
      }
      validate();
    };

    exchangeButtons.forEach((button) => {
      button.addEventListener('click', () => selectExchange(button));
    });

    amountButtons.forEach((button) => {
      button.addEventListener('click', () => selectAmount(button));
    });
  }

  function setupSubmit() {
    const submitButton = document.querySelector('button[type=submit]');

    submitButton.addEventListener('click', function() {
      const FILE_NAME = "{{ configuration_file.file_name }}";
      const TOKEN_TICKER = "{{ token.ticker }}";

      WEBSOCKET.send(JSON.stringify({
        method: "swap",
        configuration_file_name: FILE_NAME,
        amount: selectedAmount.toString(),
        token: TOKEN_TICKER,
        exchange: selectedExchange
      }));

      toggleView();
    });
  }

  window.addEventListener("load", function () {
    setupPopovers();
    setupSubmit();
  });
</script>
{% end %}
