{% extends "base.html" %} {% block content %}
<div class="hero">
  Get {{ swap_amount }} via a decentralized exchange<br />
  Choose an exchange of your choice to swap
</div>

<div class="action">
  <div class="menu-item">
    <button class="exchange-button" value="kyber">
      <img
        class="dex-icon"
        src="{{ static_url('images/kyber.svg') }}"
        alt="KyberNetwork"
      />
      <span>KyberNetwork</span>
      <img
        class="expand"
        src="{{ static_url('images/expand.svg') }}"
        alt="Expand"
      />
    </button>

    <div class="menu" id="amount-menu-kyber">
      <button class="amount-button" value="{{ swap_amount.as_wei }}">
        {{ swap_amount.formatted }}
      </button>
    </div>
  </div>

  <div class="menu-item">
    <button class="exchange-button" value="uniswap">
      <span class="dex-icon">🦄</span>
      <span>Uniswap</span>
      <img
        class="expand"
        src="{{ static_url('images/expand.svg') }}"
        alt="Expand"
      />
    </button>

    <div class="menu" id="amount-menu-uniswap">
      <button class="amount-button" value="{{ swap_amount.as_wei }}">
        {{ swap_amount.formatted }}
      </button>
    </div>
  </div>
</div>

<div class="action">
  <button type="submit" disabled>Confirm</button>
</div>
{% end %}

{% block question_items %}
  {% if token.ticker == "RDN" %}
    <li>
      The Raiden Network consists of a few services in order to increase the security and reliability of the network.
    </li>
    <li>
      RDN tokens are required to pay for path finding and monitoring service providers. 
      These tokens need to be deposited into the User Deposit Contract.
      By clicking confirm the tokens will be bought and deposited instantly on your behalf.
    </li>
    <li>
      A minimum of 10 RDN is recommended to get started and be able to play around for a while.
    </li>
  {% elif token.ticker == "DAI" %}
    <li>
      The Raiden Client offers to join the DAI token network. You can make payments in DAI tokens.
    </li>
    <li>
      DAI is a stable coin which is pegged to the USD. This means that one DAI is roughly worth one USD.
    </li>
    <li>
      A minimum of 3 DAI is recommended to get started and be able to play around for a while.
    </li>
  {% end %}
{% end %} 

{% block page_header_scripts %}
  <script type="text/javascript">
    const API_COST_ESTIMATION_ENDPOINT =
      "/api/cost-estimation/{{ configuration_file.file_name }}";
    const CONFIGURATION_DETAIL_URL = 
      "{{ reverse_url('api-configuration-detail', configuration_file.file_name) }}";
    const LAUNCH_URL = "{{ reverse_url('launch', configuration_file.file_name) }}";

    const TOKEN_TICKER = "{{ token.ticker }}";
    const DECIMALS = "{{ token.decimals }}";
    const CONFIGURATION_FILE_NAME = "{{ configuration_file.file_name }}";
  </script>
  <script type="text/javascript" src="{{ static_url('js/swap.js') }}"></script>
{% end %}
