{% extends "base.html" %}

{% block content %}
<h1>Swap ETH for {{ token.sticker }}</h1>
<div class="hero">
  Choose between Kyber and Uniswap decentralized exchanges to get {{ token.sticker }}
</div>
<div class="info-panel">
  <p>Available funds</p>
  <ul class="account-info">
    <li>
      <span class="account-eth-balance highlighted">N/A ETH</span>
    </li>
    <li>
      <span class="account-token-balance highlighted">N/A {{ token.sticker }}</span>
    </li>
  </ul>
</div>
<div class="action">
  <button class="link-button" data-link-url="{{ reverse_url('swap', 'kyber', configuration_file.file_name, token.sticker)}}"
          {% if not kyber.is_listing_token(token.sticker) %}disabled{% end %}>
    KyberNetwork
  </button>
  <button class="link-button" data-link-url="{{ reverse_url('swap', 'uniswap', configuration_file.file_name, token.sticker)}}"
          {% if not uniswap.is_listing_token(token.sticker) %}disabled{% end %}>
    Uniswap
  </button>
</div>
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">
 async function checkBalances() {
   let balance = await getBalances("{{ reverse_url('api-configuration-detail', configuration_file.file_name) }}");

   let display_elements = {
     ethereum_element: document.querySelector("span.account-eth-balance")     
   }

   {% if token.sticker == service_token_required.sticker %}
   display_elements.service_token_element = document.querySelector("span.account-token-balance")
   {% end %}

   {% if token.sticker == transfer_token_required.sticker %}
   display_elements.transfer_token_element = document.querySelector("span.account-token-balance")
   {% end %}
   
   updateBalanceDisplay(balance, display_elements);
 }
 
 window.addEventListener("load", function() {
   checkBalances();
   setInterval(checkBalances, 5000);
 });
</script>
{% end %}
