{% extends "base.html" %}

{% block logo_class %}home{% end %}

{% block question_class %}hidden{% end %}

{% block content %}
  <h1>
    <img src="{{ static_url('images/raiden.png') }}" alt="Raiden Network" />
    Wizard
  </h1>

  <div class="hero">
    <h2>Terms & Conditions of Use</h2>
  </div>

  <div class="info-panel small">
    <ol class="terms-list">
      <li>
        Scope
        <ol class="inner-list">
          <li>
            These terms and conditions govern the contractual relationship between the user 
            and Brainbot Labs Est. (hereinafter referred to as BBLE) regarding the use of 
            this Raiden Wizard software release (hereinafter referred to as the software). 
            BBLE and the user are collectively referred to as the "parties".
          </li>
          <li>
            There are no verbal side agreements between the parties. These terms and conditions 
            apply exclusively. 
          </li>
        </ol>
      </li>
      <li>
        Conclusion of the contract
        <ol class="inner-list">
          The contract between the parties is concluded when the user installs the software.
        </ol>
      </li>
      <li>
        Right of withdrawal
        <ol class="inner-list">
          There is no right of withdrawal. However, the user is free at any time to delete 
          the copies of the software made by him.
        </ol>
      </li>
      <li>
        Download of the software
        <ol class="inner-list">
          <li>
            The software can be downloaded from the download area 
            <a href="https://raiden-network.readthedocs.io/en/stable/installation/quick-start/README.html#download-and-run-the-raiden-wizard" target="_blank">
              https://raiden-network.readthedocs.io/en/stable/installation/quick-start/README.html#download-and-run-the-raiden-wizard
            </a> 
            in different versions for the operating systems named there. The corresponding installation 
            instructions are also given in the download area.
          </li>
          <li>
            The user can also download and review the complete source code for all software versions 
            offered for download in the download area if he so wishes.
          </li>
          <li>
            The installation of the software is not part of the contract. 
          </li>
          <li>
            The user is offered updates of the software for download, which may contain bug fixes 
            and new functionalities as long as the download offer is not discontinued. BBLE 
            therefore recommends regular software updates. 
          </li>
          <li>
            BBLE is free to stop all download and update offers of the software at any time.
          </li>
        </ol>
      </li>
      <li>
        Rights of use
        <ol class="inner-list">
          <li>
            The user may install and run the software on any number of computers for any lawful 
            purposes and make the necessary copies.
          </li>
          <li>
            The user may acquire further usage rights to the software from the respective rights 
            holders by concluding separate license agreements with these rights holders under the 
            conditions of the respective license. The license texts are included in the source code. 
            In this case, the use of the software is not covered by this contract, but is based 
            solely on the conditions of the respective license. If several licenses are used, 
            these are contained in the source code that is accessible to the user in accordance 
            with Section 4 (2).
          </li>
        </ol>
      </li>
      <li>
        Remuneration
        <ol class="inner-list">
          The user receives the software free of charge. 
        </ol>
      </li>
      <li>
        Disclaimer/Liability
        <ol class="inner-list">
          The Software is an Alpha version of experimental open source software released as a test 
          version under an MIT license and may contain errors and/or bugs. No guarantee or 
          representation whatsoever is made regarding its suitability (or its use) for any 
          purpose or regarding its compliance with any applicable laws and regulations. Use of 
          the software is at the users risk and discretion and by using the software the user warrants 
          and represents to have read this disclaimer, understand its contents, assume all risk 
          related thereto and hereby releases, waives, discharges and covenants not to hold liable 
          BBLE or any of its officers, employees or affiliates from and for any direct or indirect 
          damage resulting from the software or the use thereof. Such to the extent as permissible 
          by applicable laws and regulations.
        </ol>
      </li>
      <li>
        Third Party Services
        <ol class="inner-list">
          The software gives the user the choice to interact directly with web services provided by 
          third parties. These web services are unaffiliated with BBLE and carried out solely on 
          the discretion of the user and based on the respective terms and conditions agreed between 
          the user and the third party or web service. BBLE does not receive and form of remuneration 
          or inducement from these third parties. BBLE gives neither express or implied 
          representations nor express or implied warranties with regard to the applications or 
          the services provided by third parties. This includes but is not limited to the validity 
          of the license, suitability, quality, functionality, availability, access of/to the 
          application or service. BBLE therefore cannot be held responsible or liable for these 
          applications or services or for any damages related to using these applications or services.
        </ol>
      </li>
      <li>
        Applicable law
        <ol class="inner-list">
          The contractual relationship between the parties and all disputes that arise from or in 
          connection with this contractual relationship are subject to the law of Liechtenstein. 
          If the user is a consumer and does not have his habitual residence in Liechtenstein, 
          the statutory regulations for consumer protection in the state of his habitual residence 
          remain unaffected, if and to the extent that these regulations may not be deviated from 
          under the law of the state of his habitual residence. The United Nations Convention on 
          Contracts for the International Sale of Goods does not apply.
        </ol>
      </li>
      <li>
        Place of jurisdiction
        <ol class="inner-list">
          Insofar as the user is a merchant, legal entity under public law or special fund under 
          public law or has no general place of jurisdiction in Liechtenstein, or has moved his 
          domicile or habitual residence outside of Liechtenstein after conclusion of the contract, 
          or his domicile or habitual residence is not known at the time the action is brought, 
          the exclusive place of jurisdiction for all disputes arising from and in connection with 
          the contractual relationship between the parties in all these cases is the registered 
          office of BBLE.
        </ol>
      </li>
      <li>
        Dispute settlement
        <ol class="inner-list">
          <li>
            The European Commission provides a platform that enables disputes between consumers and 
            businesses to be settled online (OS platform). The OS platform can be reached under the 
            following link: 
            <a href="https://ec.europa.eu/consumers/odr" target="_blank">
              https://ec.europa.eu/consumers/odr
            </a>
            .
            BBLEs email address is: 
            <a href="mailto:contact@brainbot.li">contact@brainbot.li</a>.
          </li>
          <li>
            BBLE is not obliged to participate in dispute settlement procedures before consumer 
            arbitration boards.
          </li>
        </ol>
      </li>
      <li>
        Severability Clause
        <ol class="inner-list">
          Should one or more provisions of these Terms and Conditions of Use be or become ineffective, 
          this shall not affect the validity of the remaining provisions. The ineffective provisions 
          shall be replaced with effective provisions that match the purpose of those ineffective 
          provisions.
        </ol>
      </li>
    </ol>
  </div>
{% end %}

{% block page_header_scripts %}
  <script type="text/javascript" src="{{ static_url('js/terms.js') }}"></script>
{% end %}