@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');


$colors: (
    main-bg: linear-gradient(90deg, #313030 0%, #000000 100%),
    wizard-bg: #0f0e10,
    list-bg: #1e1e1e,
    text-standard: #fff,
    text-dark: #646464,
    text-error: #ef5350,
    text-blue: #28a5c8,
    text-inactive: rgba(255, 255, 255, .3),
    element-border: #0a6e87,
    element-input-bg: #323232,
    button-bg: transparent,
    button-hover-bg: #28a5c8,
    button-border: #28a5c8,
    button-inactive-border: rgba(40, 165, 200, .3),
);

$dimensions: (
    full-column-width: 960px,
    padded-block-width: 900px,
    padded-text-width: 840px,
);

@mixin button() {
    border: 2px solid;
    border-radius: 29px;
    font-weight: 400;
    font-size: 14px;
}

@mixin buttoncolor($background-color, $border-color, $text-color) {
    background-color: $background-color;
    border-color: $border-color;
    color: $text-color;
}

@mixin fixedsize($width, $height) {
    line-height: $height;
    width: $width;

}

@mixin input($background-color, $text-color) {
    background-color: $background-color;
    border: 0;
    border-radius: 20px;
    color: $text-color;
    height: 28px;
    padding: 0px 10px 0px 10px;
    width: 350px;
}


@function color($color-type) {
    @return map-get($colors, $color-type)
};


@function dimension($width-type) {
    @return map-get($dimensions, $width-type);
}


body {
    background-color: color(wizard-bg);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: color(text-standard);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: dimension(full-column-width);
}

.hidden {
    display: none !important;
}

.tbd {
    &::before, &::after {
        content: "<<<TBD>>>";
    }

}

.highlighted {
    font-size: 125%;
    font-weight: 500;
    color: color(text-blue);
}

a {
    color: color(text-blue);
    text-decoration: none;
}

button, a.button {
    text-align: center;
    @include button();
    @include buttoncolor(color(button-bg), color(button-border), color(text-standard));
    &:hover {
        @include buttoncolor(color(button-hover-bg), color(button-border), color(text-standard));
    }
    &:disabled, &[aria-disabled="true"] {
        @include buttoncolor(color(button-bg), color(button-inactive-border), color(text-inactive));
    }
}

a.button {
    display: inline-block;
    padding: 2px 6px;
    margin: auto;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 80px;
    line-height: 94px;
    font-weight: 900;
    font-style: normal;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

input[type=text],input[type=number] {
    @include input(color(element-input-bg), color(text-blue));
}

span.error {
    color: color(text-error);
    justify-self: center;
    font-size: 12px;
}

div.logo {
    width: 370px;
    height: 105px;

    margin: 33px auto 0;
    text-align: center;
    img {
        width: 100%;
        height: 100%;
    }
    &.business-card {
        position: absolute;
        bottom: 10px;
        left: 10px;
        margin-left: 0 !important;
        text-align: left;

        // 60% of image size
        width: 222px;
        height: 63px;
    }
}

ul.checklist {
    li {
        display: block;
        &.fail, &.pass {
            font-weight: 600;
            font-size: 150%;
        }
        &.fail {
            color: color(text-error);
        }
        &.pass {
            color: color(text-blue);
        }

        span.check-value.nok {
            color: color(text-error) !important;
        }

        span.check-value.ok {
            color: color(text-blue) !important;
        }
    }
}

ul.available-configurations {
    width: 100%;
    border-top: solid 1.5px color(element-border);
    font-size: 75%;

    li {
        width: 100%;
        height: 70px;
        margin-bottom: 2px;
        background-color: color(list-bg);
        display: grid;
        grid-template: "account account account button" auto
                                                        "network balance balance button" auto;

        span.account, span.network {
            padding-left: 20px;
        }

        span.network, span.balance {
            text-transform: capitalize;
            color: color(text-dark);
        }

        span.account {
            grid-area: account;
            align-self: end;
            font-weight: 500;
        }

        span.network {
            align-self: start;
            grid-area: network;

        }

        span.balance {
            grid-area: balance;
        }

        button, a.button {
            align-self: center;
            @include fixedsize(100px, 33px);
            grid-area: button;
        }

        a.button {
            line-height: 33px;
        }
    }
}

ul.account-info {
    margin: 0.25em auto;
    span.data-attribute {
        font-size: 125%;
        display: block;
    }
    span.highlighted, span.data-value {
        color: color(text-blue);
        display: block;
        margin-bottom: 0.25em;
    }
}


section.content {
    width: dimension(full-column-width);
    margin: 0 auto;
    padding-top: 33px;

    div.container {
        display: grid;
        justify-content: center;
        align-items: center;
        justify-self: center;
        min-height: 700px;

        grid-template-rows: 100px minmax(120px, 150px) auto 120px 80px;

        div {
            justify-self: center;
        }

        div.hero {
            font-size: 50px;
            line-height: 60px;
            text-align: center;
            align-self: start;
        }

        div.info-panel {
//            max-width: 785px;
            text-align: center;

            span.private {
                display: inline-block;
                max-width: 12em;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            .action-copy-paste {
                cursor: pointer;
            }

            .action-copy-paste::after {
                font-size: 12px;
                background-repeat: no-repeat;
                display: inline-block;
                content: '';
                background-image: url("../images/copy-icon.svg");
                min-width: 24px;
                height: 35px;
                line-height: 35px;
                background-size: 24px 35px;

            }

            .action-copy-paste.clipboard::after {
                vertical-align: top;
                content: 'copied!' !important;
                background-image: none !important;
            }
        }

        div.action {
            width: 100%;
            display: inline-grid;
            grid-auto-flow: column;
            justify-content: space-evenly;

            button, a.button {
                font-size: 18px;
                line-height: 21px;
                @include fixedsize(270px, 40px);
                display: inline-grid;

                &.hide-when-disabled:disabled {
                    display: none !important;
                }
            }
        }

        div.ack-prompt {
            display: inline-grid;
            grid-template-columns: 30px auto;
            line-height: 21px;
            max-width: 630px;
            margin: auto;
            font-size: 50%;
        }
    }
}

#background-task-tracker {
    div.spinner {
        display: grid;
        margin: auto;
        margin-top: 25vh;
        align-self: center;
        animation: .8s spin infinite;
        border: 4px solid color(element-input-bg);
        border-radius: 50%;
        border-bottom-color: color(element-border);
        border-right-color: color(element-border);
        border-top-color: color(element-border);
        height: 100px;
        width: 100px;
    }
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    ul.messages {
        color: color(text-standard);
        line-height: 28px;
        list-style-type: none;
        margin: 0;
        padding: 30px 0px 100px 0px;
        text-align: center;
    }
}
