@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');


$colors: (
    main-bg: linear-gradient(90deg, #313030 0%, #000000 100%),
    wizard-bg: #0f0e10,
    list-bg: #1e1e1e,
    text-standard: #fff,
    text-dark: #646464,
    text-error: #ef5350,
    text-blue: #28a5c8,
    text-inactive: rgba(255, 255, 255, .3),
    element-border: #0a6e87,
    element-input-bg: #323232,
    button-bg: transparent,
    button-hover-bg: #28a5c8,
    button-border: #28a5c8,
    button-inactive-border: rgba(40, 165, 200, .3),
);


@mixin button($w, $h, $background-color, $border-color, $text-color) {
    background-color: $background-color;
    border: 2px solid $border-color;
    border-radius: 29px;
    color: $text-color;
    font-weight: 400;
    font-size: 14px;
    height: $h;
    width: $w;
}
@mixin input($background-color, $text-color) {
    background-color: $background-color;
    border: 0;
    border-radius: 20px;
    color: $text-color;
    height: 28px;
    padding: 0px 10px 0px 10px;
    width: 350px;
}


@function color($color-type) {
    @return map-get($colors, $color-type)
};


body {
    background: color(main-bg);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;

    h1 {
        font-size: 28px;
        font-weight: 500;
        margin: 0;
    }

    h2 {
        font-size: 19px;
        font-weight: 400;
        margin: 0;
    }

    p {
        font-size: 16px;
        margin: 0;
    }

    .container {
        display: grid;
        grid-template-areas:
            ". . ."
            ". launcher-window ."
            ". . .";
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 50px auto 50px;
        min-height: 100vh;
        min-width: 100vw;

        .launcher-window {
            background-color: color(wizard-bg);
            align-self: center;
            grid-area: launcher-window;
            justify-self: center;
            width: 620px;

            #welcome-screen {
                display: grid;
                grid-template-rows: auto auto auto auto;

                .heading-wrapper {
                    display: flex;
                    flex-direction: column;
                    .heading {
                        color: color(text-standard);
                        flex: 0 0 50px;
                        padding-top: 20px;
                        text-align: center;
                    }
                    .description {
                        color: color(text-standard);
                        align-self: center;
                        flex: 0 0 110px;
                        font-weight: 300;
                        line-height: 21px;
                        text-align: center;
                        width: 300px;
                    }
                    .description a {
                        color: color(text-blue);
                        text-decoration: none;
                    }
                }

                .configuration-files-list {
                    border-top: solid 1.5px color(element-border);
                    max-height: 210px;
                    overflow: auto;

                    .configuration-files-wrapper {
                        background-color: color(list-bg);
                        display: grid;
                        grid-template-areas:
                            "account-address account-address account-address account-address launch-configuration-button"
                            "network account-balance account-balance account-balance launch-configuration-button";
                        grid-template-columns: 130px 1fr 1fr 1fr 1fr;
                        grid-template-rows: repeat(2, 35px);
                        margin-bottom: 2px;

                        .account-address {
                            color: color(text-standard);
                            align-self: end;
                            grid-area: account-address;
                            font-weight: 500;
                            padding-left: 20px;
                        }
                        .network {
                            color: color(text-dark);
                            align-self: start;
                            grid-area: network;
                            font-weight: 400;
                            padding-left: 20px;
                        }
                        .account-balance {
                            color: color(text-dark);
                            align-self: flex-start;
                            grid-area: account-balance;
                            font-weight: 400;
                        }
                        .launch-configuration {
                            align-self: center;
                            grid-area: launch-configuration-button;
                            padding-right: 20px;
                            text-align: center;
                            .launch-configuration-button {
                                @include button(100px, 33px, color(button-bg), color(button-border), color(text-standard));
                            }
                            .launch-configuration-button:hover {
                                @include button(100px, 33px, color(button-hover-bg), color(button-border), color(text-standard));
                            }
                        }
                    }
                }

                .new-configuration-wrapper {
                    display: grid;
                    grid-template-areas:
                        "input-label input-label input-label input-label"
                        "client client client network-select"
                        "dapp-checkbox-label dapp-checkbox-label dapp-checkbox-label dapp-checkbox"
                        "pfs-monitoring pfs-monitoring-description pfs-monitoring-description pfs-monitoring-description"
                        "setup-error setup-error setup-error setup-error"
                        "disclaimer disclaimer disclaimer disclaimer"
                        "new-configuration new-configuration new-configuration new-configuration";
                    grid-template-columns: repeat(4, auto);
                    grid-template-rows: 80px 40px 40px 30px auto 80px;

                    .input-label {
                        color: color(text-standard);
                        align-self: center;
                        grid-area: input-label;
                        text-align: center;
                    }
                    .client {
                        grid-area: client;
                        padding-left: 60px;
                        input {
                            @include input(color(element-input-bg), color(text-blue));
                        }
                    }
                    .network-select {
                        background-color: color(element-input-bg);
                        border-radius: 10px;
                        grid-area: network-select;
                        height: 28px;
                        margin-right: 60px;
                        text-align: center;
                        width: 80px;
                    }
                    .network-select select {
                        background-color: color(element-input-bg);
                        border: 0;
                        color: color(text-blue);
                        height: 28px;
                        width: 70px;
                    }
                    .dapp-checkbox-label {
                        color: color(text-standard);
                        align-self: center;
                        grid-area: dapp-checkbox-label;
                        text-align: left;
                        padding-left: 60px;
                    }
                    .dapp-checkbox {
                        grid-area: dapp-checkbox;
                        align-self: center;
                        padding-right: 12px;
                        justify-self: center;
                    }
                    .pfs-monitoring {
                        grid-area: pfs-monitoring;
                        padding-left: 60px;
                    }
                    .pfs-monitoring-description {
                        color: color(text-standard);
                        font-size: 14px;
                        font-weight: 300;
                        grid-area: pfs-monitoring-description;
                        padding-top: 3px;
                    }
                    .setup-error {
                        align-self: center;
                        color: color(text-error);
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 300;
                        grid-area: setup-error;
                        text-align: center;
                        visibility: hidden;
                    }
                    .disclaimer {
                        align-self: end;
                        color: color(text-standard);
                        font-size: 14px;
                        font-weight: 300;
                        grid-area: disclaimer;
                        padding: 0px 20px 0px 20px;
                        text-align: center;
                    }
                    .new-configuration {
                        align-self: center;
                        grid-area: new-configuration;
                        text-align: center;
                        .new-configuration-button {
                            @include button(225px, 40px, color(button-bg), color(button-border), color(text-standard));
                        }
                        .new-configuration-button:hover {
                            @include button(225px, 40px, color(button-hover-bg), color(button-border), color(text-standard));
                        }
                        .new-configuration-button:disabled {
                            @include button(225px, 40px, color(button-bg), color(button-inactive-border), color(text-inactive));
                        } 
                    }
                }
            }


            #launcher-screen {
                display: grid;
                grid-template-rows: auto auto;

                .spinner-wrapper {
                    display: grid;
                    justify-items: center;
                    padding-top: 100px;

                    .spinner {
                        align-self: center;
                        animation: .8s spin infinite;
                        border: 4px solid color(element-input-bg);
                        border-radius: 50%;
                        border-bottom-color: color(element-border);
                        border-right-color: color(element-border);
                        border-top-color: color(element-border);
                        height: 100px;
                        width: 100px;
                    }
                    @keyframes spin {
                        to {
                            transform: rotate(360deg);
                        }
                    }
                }

                .messages {
                    color: color(text-standard);
                    line-height: 28px;
                    list-style-type: none;
                    margin: 0;
                    padding: 30px 0px 100px 0px;
                    text-align: center;
                }
            }
        }
    }
}
