@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
body {
  background: linear-gradient(90deg, #313030 0%, #000000 100%);
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  display: grid;
  padding-top: 50px;
  min-height: 100vh;
  min-width: 100vw;
}

button, a.button {
  text-align: center;
  border: 2px solid;
  border-radius: 29px;
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  border-color: #28a5c8;
  color: #fff;
}
button:hover, a.button:hover {
  background-color: #28a5c8;
  border-color: #28a5c8;
  color: #fff;
}
button:disabled, a.button:disabled {
  background-color: transparent;
  border-color: rgba(40, 165, 200, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

a {
  color: #28a5c8;
  text-decoration: none;
}

a.button {
  display: inline-block;
  padding: 2px 6px;
  margin: auto;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  font-size: 19px;
  font-weight: 400;
}

p {
  margin: auto;
  text-align: center;
  max-width: 300px;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}

p.warning {
  font-size: 18px;
  font-weight: 400;
  margin: 2em auto;
  padding-bottom: 1em;
}

p.disclaimer {
  font-size: 14px;
  font-weight: 300;
}

input {
  background-color: #323232;
  border: 0;
  border-radius: 20px;
  color: #28a5c8;
  height: 28px;
  padding: 0px 10px 0px 10px;
  width: 350px;
}

span.error {
  color: #ef5350;
  justify-self: center;
  font-size: 12px;
}

section.content {
  background-color: #0f0e10;
  width: 620px;
  justify-self: center;
  display: inline-grid;
}
section.content > div.container {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

div {
  justify-self: center;
}

div.prompt button {
  height: 40px;
  width: 225px;
}

div.form-entry input {
  display: block;
}

ul.available-configurations {
  border-top: solid 1.5px #0a6e87;
  list-style-type: none;
  padding-inline-start: 0;
  max-height: 210px;
  overflow: auto;
}
ul.available-configurations li {
  height: 70px;
  margin-bottom: 2px;
  background-color: #1e1e1e;
  display: grid;
  grid-template: "account account account button" auto "network balance . button" auto;
}
ul.available-configurations li span.account, ul.available-configurations li span.network {
  padding-left: 20px;
}
ul.available-configurations li span.network, ul.available-configurations li span.balance {
  text-transform: capitalize;
  color: #646464;
}
ul.available-configurations li span.account {
  grid-area: account;
  align-self: end;
  font-weight: 500;
}
ul.available-configurations li span.network {
  align-self: start;
  grid-area: network;
}
ul.available-configurations li span.balance {
  grid-area: balance;
}
ul.available-configurations li button, ul.available-configurations li a.button {
  align-self: center;
  height: 33px;
  width: 100px;
  grid-area: button;
  line-height: 33px;
}

#intro p.warning {
  max-width: 80%;
}
#intro a.button {
  display: block;
  height: 2em;
  width: 100px;
  line-height: 2em;
}

#configuration-launcher {
  width: 100%;
}

#configuration-setup {
  display: grid;
  grid-template-rows: 50px 120px auto;
}
#configuration-setup div.prompt {
  display: grid;
  grid-template-rows: 40px 80px auto auto 60px;
  min-height: 8em;
}
#configuration-setup p.disclaimer {
  max-width: 100%;
  margin-bottom: 2em;
}
#configuration-setup button {
  justify-self: center;
}

#welcome-screen {
  display: grid;
  grid-template-rows: auto auto auto auto;
}
#welcome-screen .heading-wrapper {
  display: flex;
  flex-direction: column;
}
#welcome-screen .heading-wrapper .description {
  color: #fff;
  align-self: center;
  flex: 0 0 110px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  width: 300px;
}
#welcome-screen .heading-wrapper .description a {
  color: #28a5c8;
  text-decoration: none;
}
#welcome-screen .configuration-files-list {
  border-top: solid 1.5px #0a6e87;
  max-height: 210px;
  overflow: auto;
}
#welcome-screen .configuration-files-list .configuration-files-wrapper {
  background-color: #1e1e1e;
  display: grid;
  grid-template-areas: "account-address account-address account-address account-address launch-configuration-button" "network account-balance account-balance account-balance launch-configuration-button";
  grid-template-columns: 130px 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 35px);
  margin-bottom: 2px;
}
#welcome-screen .configuration-files-list .configuration-files-wrapper .account-address {
  color: #fff;
  align-self: end;
  grid-area: account-address;
  font-weight: 500;
  padding-left: 20px;
}
#welcome-screen .configuration-files-list .configuration-files-wrapper .network {
  color: #646464;
  align-self: start;
  grid-area: network;
  font-weight: 400;
  padding-left: 20px;
}
#welcome-screen .configuration-files-list .configuration-files-wrapper .account-balance {
  color: #646464;
  align-self: flex-start;
  grid-area: account-balance;
  font-weight: 400;
}
#welcome-screen .configuration-files-list .configuration-files-wrapper .launch-configuration {
  align-self: center;
  grid-area: launch-configuration-button;
  padding-right: 20px;
  text-align: center;
}
#welcome-screen .configuration-files-list .configuration-files-wrapper .launch-configuration button {
  height: 33px;
  width: 100px;
}
#welcome-screen .configuration-files-list .configuration-files-wrapper .launch-configuration button:hover {
  background-color: #28a5c8;
  border-color: #28a5c8;
  color: #fff;
}
#welcome-screen .new-configuration-wrapper {
  display: grid;
  grid-template-areas: "input-label input-label input-label input-label" "client client client network-select" "pfs-monitoring pfs-monitoring-description pfs-monitoring-description pfs-monitoring-description" "setup-error setup-error setup-error setup-error" "disclaimer disclaimer disclaimer disclaimer" "new-configuration new-configuration new-configuration new-configuration";
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 80px 40px 40px 30px auto 80px;
}
#welcome-screen .new-configuration-wrapper .input-label {
  color: #fff;
  align-self: center;
  grid-area: input-label;
  text-align: center;
}
#welcome-screen .new-configuration-wrapper .client {
  grid-area: client;
  padding-left: 60px;
}
#welcome-screen .new-configuration-wrapper .client input {
  background-color: #323232;
  border: 0;
  border-radius: 20px;
  color: #28a5c8;
  height: 28px;
  padding: 0px 10px 0px 10px;
  width: 350px;
}

#launcher-screen {
  display: grid;
  grid-template-rows: auto auto;
}
#launcher-screen .spinner-wrapper {
  display: grid;
  justify-items: center;
  padding-top: 100px;
}
#launcher-screen .spinner-wrapper .spinner {
  align-self: center;
  animation: 0.8s spin infinite;
  border: 4px solid #323232;
  border-radius: 50%;
  border-bottom-color: #0a6e87;
  border-right-color: #0a6e87;
  border-top-color: #0a6e87;
  height: 100px;
  width: 100px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#launcher-screen .messages {
  color: #fff;
  line-height: 28px;
  list-style-type: none;
  margin: 0;
  padding: 30px 0px 100px 0px;
  text-align: center;
}

/*# sourceMappingURL=app.css.map */
