@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
body {
  background-color: #0f0e10;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 960px;
}

.hidden {
  display: none !important;
}

.tbd::before, .tbd::after {
  content: "<<<TBD>>>";
}

.highlighted {
  font-size: 125%;
  font-weight: 500;
  color: #28a5c8;
}

.prompt-panel {
  min-height: 2em;
}

.ack-prompt {
  display: grid;
  margin: auto;
  font-size: 9pt;
  width: 900px;
  grid-template-columns: 30px auto;
}

a {
  color: #28a5c8;
  text-decoration: none;
}

button, a.button {
  text-align: center;
  border: 2px solid;
  border-radius: 29px;
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  border-color: #28a5c8;
  color: #fff;
}
button:hover, a.button:hover {
  background-color: #28a5c8;
  border-color: #28a5c8;
  color: #fff;
}
button:disabled, button[aria-disabled=true], a.button:disabled, a.button[aria-disabled=true] {
  background-color: transparent;
  border-color: rgba(40, 165, 200, 0.3);
  color: rgba(255, 255, 255, 0.3);
}
button.next-page, a.button.next-page {
  display: block;
  margin: auto;
  margin-top: 5em;
  line-height: 2em;
  width: 125px;
}

#btn-launch {
  line-height: 45px;
  width: 200px;
  font-size: 18px;
}

a.button {
  display: inline-block;
  padding: 2px 6px;
  margin: auto;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 80px;
  line-height: 94px;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-size: 19px;
  font-weight: 400;
}

p.warning {
  font-size: 18px;
  font-weight: 400;
  margin: 2em auto;
  padding-bottom: 1em;
}

p.disclaimer {
  font-size: 14px;
  font-weight: 300;
}

input[type=text], input[type=number] {
  background-color: #323232;
  border: 0;
  border-radius: 20px;
  color: #28a5c8;
  height: 28px;
  padding: 0px 10px 0px 10px;
  width: 350px;
}

span.error {
  color: #ef5350;
  justify-self: center;
  font-size: 12px;
}

div.logo {
  width: 960px;
  margin: 33px auto 0;
  text-align: center;
}
div.logo img {
  width: 370px;
  height: 105px;
}
div.logo.business-card {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin-left: 0 !important;
  text-align: left;
}

section.content {
  width: 960px;
  margin: 0 auto;
  padding-top: 33px;
}
section.content div.container {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: center;
  grid-template-rows: 95px 175px minmax(40px, 280px) 80px 40px;
}
section.content div.container div {
  justify-self: center;
}
section.content div.container div.hero {
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  align-self: start;
}
section.content div.container div.info-panel {
  max-width: 785px;
  text-align: center;
}
section.content div.container div.info-panel span.private {
  display: inline-block;
  max-width: 16em;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
section.content div.container div.action {
  align-items: start;
}
section.content div.container div.action button, section.content div.container div.action a.button {
  font-size: 18px;
  line-height: 21px;
  line-height: 40px;
  width: 210px;
}
section.content div.container div.ack-prompt {
  line-height: 21px;
  max-width: 630px;
}

div.prompt, div.disclaimer {
  max-width: 900px;
  margin: auto;
}

div.prompt button {
  line-height: 40px;
  width: 225px;
}

div.form-entry input {
  display: block;
  margin-bottom: 1em;
}

ol {
  margin: auto;
  width: 840px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

ul.options-panel {
  width: 960px;
  margin-top: 3em;
  align-content: center;
}
ul.options-panel li {
  display: inline-grid;
  align-self: center;
  width: 49%;
}
ul.options-panel li.selected {
  width: 100%;
}
ul.options-panel li a.button, ul.options-panel li button {
  display: block;
  margin: auto;
  line-height: 33px;
  width: 220px;
}

ul.exchanges {
  width: 840px;
  margin-top: 3em;
  align-content: center;
}
ul.exchanges li {
  display: inline-grid;
  align-self: center;
  width: 49%;
}
ul.exchanges li.selected {
  width: 100%;
}
ul.exchanges li a.button, ul.exchanges li button {
  display: block;
  margin: auto;
  line-height: 33px;
  width: 180px;
}

ul.available-configurations {
  width: 960px;
  border-top: solid 1.5px #0a6e87;
}
ul.available-configurations li {
  height: 70px;
  margin-bottom: 2px;
  background-color: #1e1e1e;
  display: grid;
  grid-template: "account account account button" auto "network balance balance button" auto;
}
ul.available-configurations li span.account, ul.available-configurations li span.network {
  padding-left: 20px;
}
ul.available-configurations li span.network, ul.available-configurations li span.balance {
  text-transform: capitalize;
  color: #646464;
}
ul.available-configurations li span.account {
  grid-area: account;
  align-self: end;
  font-weight: 500;
}
ul.available-configurations li span.network {
  align-self: start;
  grid-area: network;
}
ul.available-configurations li span.balance {
  grid-area: balance;
}
ul.available-configurations li button, ul.available-configurations li a.button {
  align-self: center;
  line-height: 33px;
  width: 100px;
  grid-area: button;
}
ul.available-configurations li a.button {
  line-height: 33px;
}

p.banner {
  max-width: 840px;
}

ul.account-info, div.account-detail {
  margin: 0.25em auto;
}
ul.account-info span.data-attribute, div.account-detail span.data-attribute {
  font-size: 125%;
  display: block;
}
ul.account-info span.highlighted, ul.account-info span.data-value, div.account-detail span.highlighted, div.account-detail span.data-value {
  color: #28a5c8;
  display: block;
  margin-bottom: 0.25em;
}

div.file-data span.data-value {
  font-size: 75% !important;
}

#background-task-tracker div.spinner {
  display: grid;
  margin: auto;
  margin-top: 25vh;
  align-self: center;
  animation: 0.8s spin infinite;
  border: 4px solid #323232;
  border-radius: 50%;
  border-bottom-color: #0a6e87;
  border-right-color: #0a6e87;
  border-top-color: #0a6e87;
  height: 100px;
  width: 100px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#background-task-tracker ul.messages {
  color: #fff;
  line-height: 28px;
  list-style-type: none;
  margin: 0;
  padding: 30px 0px 100px 0px;
  text-align: center;
}

#configuration-launcher {
  width: 960px;
}

#configuration-setup, #swap {
  display: grid;
}
#configuration-setup > div, #swap > div {
  padding-top: 1em;
}
#configuration-setup div.prompt, #swap div.prompt {
  display: grid;
  grid-template-rows: auto 3em auto auto;
}
#configuration-setup p.disclaimer, #swap p.disclaimer {
  max-width: 100%;
  margin-bottom: 2em;
}
#configuration-setup button, #swap button {
  justify-self: center;
}

#external-site-redirection {
  text-align: center;
}
#external-site-redirection button, #external-site-redirection a.button {
  line-height: 33px;
  width: 180px;
  margin: 2em auto;
}

/*# sourceMappingURL=app.css.map */
