@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');


$colors: (
    main-bg: linear-gradient(90deg, #313030 0%, #000000 100%),
    wizard-bg: #0f0e10,
    list-bg: #1e1e1e,
    text-standard: #fff,
    text-dark: #646464,
    text-error: #ef5350,
    text-blue: #28a5c8,
    text-inactive: rgba(255, 255, 255, .3),
    element-border: #0a6e87,
    element-input-bg: #323232,
    button-bg: transparent,
    button-hover-bg: #28a5c8,
    button-border: #28a5c8,
    button-inactive-border: rgba(40, 165, 200, .3),
);

$dimensions: (
    full-column-width: 960px,
    padded-block-width: 900px,
    padded-text-width: 840px,
);

@mixin button() {
    border: 2px solid;
    border-radius: 29px;
    font-weight: 400;
    font-size: 14px;
}

@mixin buttoncolor($background-color, $border-color, $text-color) {
    background-color: $background-color;
    border-color: $border-color;
    color: $text-color;
}

@mixin fixedsize($width, $height) {
    line-height: $height;
    width: $width;

}

@mixin input($background-color, $text-color) {
    background-color: $background-color;
    border: 0;
    border-radius: 20px;
    color: $text-color;
    height: 28px;
    padding: 0px 10px 0px 10px;
    width: 350px;
}


@function color($color-type) {
    @return map-get($colors, $color-type)
};


@function dimension($width-type) {
    @return map-get($dimensions, $width-type);
}


body {
    background-color: color(wizard-bg);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: color(text-standard);
    margin: 0;
    padding: 0;   
    min-height: 100vh;
    min-width: dimension(full-column-width);
}

.hidden {
    display: none !important;
}


.tbd {
    &::before, &::after {
        content: "<<<TBD>>>";
    }

}

.highlighted {
    font-size: 125%;
    font-weight: 500;
    color: color(text-blue);
}

.prompt-panel {
    min-height: 2em;
}

.ack-prompt {
    display: grid;
    margin: auto;
    font-size: 9pt;
    width: dimension(padded-block-width);

    grid-template-columns: 30px auto;
}

a {
    color: color(text-blue);
    text-decoration: none;
}

button, a.button {
    text-align: center;
    @include button();
    @include buttoncolor(color(button-bg), color(button-border), color(text-standard));
    &:hover {
        @include buttoncolor(color(button-hover-bg), color(button-border), color(text-standard));
    }
    &:disabled, &[aria-disabled="true"] {
        @include buttoncolor(color(button-bg), color(button-inactive-border), color(text-inactive));
    }

    &.next-page {
        display: block;
        margin: auto;
        margin-top: 5em;
        @include fixedsize(125px, 2em);
    }
}

#btn-launch {
    @include fixedsize(200px, 45px);
    font-size: 18px;
}

a.button {
    display: inline-block;
    padding: 2px 6px;
    margin: auto;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 80px;
    line-height: 94px;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-size: 19px;
    font-weight: 400;
}

p.warning {
    font-size: 18px;
    font-weight: 400;
    margin: 2em auto;
    padding-bottom: 1em;
}

p.disclaimer {
    font-size: 14px;
    font-weight: 300;

}

input[type=text],input[type=number] {
    @include input(color(element-input-bg), color(text-blue));
}

span.error {
    color: color(text-error);
    justify-self: center;
    font-size: 12px;
}

div.logo {
    width: dimension(full-column-width);
    margin: 33px auto 0;
    text-align: center;
    img {
        width: 370px;
        height: 105px;
    }
    &.business-card {
        position: absolute;
        bottom: 10px;
        left: 10px;
        margin-left: 0 !important;
        text-align: left;
    }
}

section.content {
    width: dimension(full-column-width);
    margin: 0 auto;
    padding-top: 33px;

    div.container {
        display: grid;
        justify-content: center;
        align-items: center;
        justify-self: center;

        grid-template-rows: 95px 175px minmax(40px, 240px) 80px 40px;

        div {
            justify-self: center;
        }

        div.hero {
            font-size: 50px;
            line-height: 60px;
            text-align: center;
            align-self: start;            
        }

        div.info-panel {
            max-width: 785px;
            text-align: center;

            span.private {
                display: inline-block;
                max-width: 16em;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }

        div.action {
            align-items: start;
            button, a.button {
                font-size: 18px;
                line-height: 21px;
                @include fixedsize(210px, 40px);
            }
        }

        div.ack-prompt {
            line-height: 21px;
            max-width: 630px;
        }
    }
}

div.prompt, div.disclaimer {
    max-width: dimension(padded-block-width);
    margin: auto;
}

div.prompt button {
    @include fixedsize(225px, 40px);
}

div.form-entry input {
    display: block;
    margin-bottom: 1em;
}

ol {
    margin: auto;
    width: dimension(padded-text-width);
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

ul.options-panel {
    width: dimension(full-column-width);
    margin-top: 3em;
    align-content: center;
    li {
        display: inline-grid;
        align-self: center;
        width: 49%;

        &.selected {
            width: 100%;
        }

        a.button, button {
            display: block;
            margin: auto;
            @include fixedsize(220px, 33px);
        }
    }
}

ul.exchanges {
    width: dimension(padded-text-width);
    margin-top: 3em;
    align-content: center;
    li {
        display: inline-grid;
        align-self: center;
        width: 49%;

        &.selected {
            width: 100%;
        }

        a.button, button {
            display: block;
            margin: auto;
            @include fixedsize(180px, 33px);
        }
    }
}

ul.available-configurations {
    width: dimension(full-column-width);
    border-top: solid 1.5px color(element-border);

    li {
        height: 70px;
        margin-bottom: 2px;
        background-color: color(list-bg);
        display: grid;
        grid-template: "account account account button" auto
                                                        "network balance balance button" auto;

        span.account, span.network {
            padding-left: 20px;
        }

        span.network, span.balance {
            text-transform: capitalize;
            color: color(text-dark);
        }

        span.account {
            grid-area: account;
            align-self: end;
            font-weight: 500;
        }

        span.network {
            align-self: start;
            grid-area: network;

        }

        span.balance {
            grid-area: balance;
        }

        button, a.button {
            align-self: center;
            @include fixedsize(100px, 33px);
            grid-area: button;
        }

        a.button {
            line-height: 33px;
        }
    }
}

p.banner {
    max-width: dimension(padded-text-width);
}

ul.account-info, div.account-detail {
    margin-top: 1em;
    margin-bottom: 1.5em;
    text-align: center;
    span.data-attribute {
        font-size: 125%;
        display: block;
    }
    span.highlighted, span.data-value {
        color: color(text-blue);
        display: block;
        margin-bottom: 1em;
    }
}

div.file-data {
    span.data-value {
        font-size: 75% !important;
    }
}

#background-task-tracker {
    div.spinner {
        display: grid;
        margin: auto;
        margin-top: 25vh;
        align-self: center;
        animation: .8s spin infinite;
        border: 4px solid color(element-input-bg);
        border-radius: 50%;
        border-bottom-color: color(element-border);
        border-right-color: color(element-border);
        border-top-color: color(element-border);
        height: 100px;
        width: 100px;
    }
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    ul.messages {
        color: color(text-standard);
        line-height: 28px;
        list-style-type: none;
        margin: 0;
        padding: 30px 0px 100px 0px;
        text-align: center;
    }
}


#configuration-launcher {
    width: dimension(full-column-width);
}

#configuration-setup, #swap {
    display: grid;

    & > div {
        padding-top: 1em;
    }

    div.prompt {
        display: grid;
        grid-template-rows: auto 3em auto auto;
    }

    p.disclaimer {
        max-width: 100%;
        margin-bottom: 2em;
    }

    button {
        justify-self: center;
    }
}


#external-site-redirection {
    text-align: center;
    button, a.button {
        @include fixedsize(180px, 33px);
        margin: 2em auto;
    }
}
