{% extends "base.html" %}

{% block content %}
<div id="account-created-results">
  <p class="banner">
    An account was created for you to use Raiden at {{
    configuration_file.network.capitalized_name }}, along with a
    configuration file that will be used to launch Raiden. Please take
    note of the following information:
  </p>
  <div class="account-detail">
    <span class="data-attribute">Account Address</span>
    <span class="data-value highlighted">{{ configuration_file.account.address }}</span>
  </div>

  <p class="disclaimer long">
    <strong>Also please sure to verify and secure the contents of the
      files listed below.</strong> While they are needed for Raiden to be
    operational, they contain data that should be private and
    protected by you. Failure to do so can lead to loss of funds that
    you might have stored at this account.
  </p>
  <div class="account-detail file-data">
    <span class="data-attribute">Account Keystore File</span>
    <span class="data-value"> {{ configuration_file.account.keystore_file_path }}</span>
    <span class="data-attribute">Account Passphrase File</span>
    <span class="data-value">{{ configuration_file.passphrase_file_path }}</span>
    <span class="data-attribute">Raiden Configuration File</span>
    <span class="data-value">{{ configuration_file.path }}</span>
  </div>

  <div class="ack-prompt">
    <input type="checkbox" class="ack-account" name="ack-account" />
    <label for="ack-account">
      I have taken note of the files created, verified their contents
      and acknowledge my responsibility and keeping them secure.
    </label>
  </div>

  <button class="link-button next-page" data-link-url="{{ reverse_url('funding-options', configuration_file.file_name) }}" disabled>
    Next
  </button>
</div>
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">

 window.addEventListener("load", function() {
   const checkboxes = document.querySelectorAll("input[name=ack-account");
   const next_button = document.querySelector("button.next-page");

   checkAcknowledgements(checkboxes, next_button);
 });
</script>
{% end %}
