{% extends "base.html" %}

{% block content %}
<h1>Fund Wallet</h1>
<div class="hero">
  Fund your wallet with ETH and 5.5 RDN in order to launch Raiden
</div>

<div class="info-panel">
  <p>Available funds</p>
  <ul class="account-info">
    <li>
      <span class="account-eth-balance highlighted">N/A ETH</span>
    </li>
    <li>
      <span class="account-rdn-balance highlighted">N/A RDN</span>
    </li>
  </ul>

  <p>Wallet Address</p>
  <span class="account-address highlighted">{{ configuration_file.account.address }}</span>
</div>
<div class="action">
  <button class="link-button" data-link-url="{{ reverse_url('swap-options', configuration_file.file_name) }}" disabled>
    Convert ETH into RDN
  </button>
</div>
{% end %}


{% block page_header_scripts %}
<script type="text/javascript">
 function checkBalances(){
   const REQUIRED_RDN_IN_WEI = 5.5 * (10 ** 18);
   const REQUIRED_ETH_IN_WEI = 10 ** 16;
   
   let url = "{{ reverse_url('api-configuration-detail', configuration_file.file_name) }}";
   let req = new XMLHttpRequest();
   let eth_balance_display_element = document.querySelector("span.account-eth-balance");
   let rdn_balance_display_element = document.querySelector("span.account-rdn-balance");

   req.open("GET", url);
   req.setRequestHeader("Content-Type", "application/json");

   req.onload = function() {
     if (this.status == 200){
       let btn = document.querySelector("button");
       let balance = JSON.parse(this.response).balance;

       let has_enough_eth = Boolean(balance && balance.ETH.as_wei >= REQUIRED_ETH_IN_WEI);
       let has_enough_rdn = Boolean(balance && balance.RDN && balance.RDN.as_wei >= REQUIRED_RDN_IN_WEI);

       if (has_enough_eth && has_enough_rdn) {
         launchRaiden("{{ configuration_file.file_name }}");
         return;
       }

       if (balance && balance.ETH) {
         eth_balance_display_element.textContent = balance && balance.ETH.formatted;
       }

       if (balance && balance.RDN) {
         rdn_balance_display_element.textContent = balance && balance.RDN.formatted;
       }
       btn.disabled = !(has_enough_eth && !has_enough_rdn);

     }
   }
   req.send();

 }


 window.addEventListener("load", function() {
   checkBalances();
   setInterval(checkBalances, 5000);
 });
</script>
{% end %}
