{% extends "base.html" %}

{% block content %}
<div id="funding-options">
  <h1>Funding your account</h1>
  <p class="long tbd">
    As part of the operation of a Raiden node, the account it uses
    needs to have RDN tokens in its funds to pay for some of the
    services provided.
  </p>

  <div class="prompt">
    <p class="long">
      You can simply transfer some RDN to the account, or the Wizard
      can help with some of the transactions. What would you like to
      do?
    </p>
    <form action="{{ reverse_url('funding-options', configuration_file.file_name) }}" method="POST">
      <ul class="form-options">
        <li>
          <input type="radio" name="funding_option" value="no-action" />
          <span>I will transfer myself some RDN to this account, and the Wizard will not do anything</span>
        </li>
        <li>
          <input type="radio" name="funding_option" value="run-swap" />
          <span>I will transfer some ETH to this account and I will authorize the Wizard to exchange them for RDN</span>
        </li>
      </ul>
      <div class="prompt-panel">
        <div class="disclaimer ack-prompt" data-option="no-action">
          <input class="hidden" type="checkbox" name="ack-self-funded" />
          <label class="hidden tbd" for="ack-self-funded">
            I acknowledge that I am doing operations involving funds and
            that I assume responsibility for all risks in doing so
          </label>
        </div>
        <div class="disclaimer ack-prompt" data-option="run-swap">
          <input class="hidden" type="checkbox" name="ack-swap" />
          <label class="hidden tbd" for="ack-swap">
            I acknowledge that the software will execute operations that
            will involve funds and that I am using it at my own risk.
          </label>
        </div>
      </div>
      <button class="next-page" type="submit" disabled>OK</button>
    </form>
  </div>
</div>
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">

 window.addEventListener("load", function() {
   const input_options = document.querySelectorAll("input[name=funding_option]");
   const checkboxes = document.querySelectorAll("input[type=checkbox]");
   const submit_button = document.querySelector("button");

   checkAcknowledgements(document.querySelectorAll("input[name=ack-self-funded"), submit_button);
   checkAcknowledgements(document.querySelectorAll("input[name=ack-swap"), submit_button);

   input_options.forEach(function(elem) {
     elem.addEventListener("change", function(evt){

       let option = elem.value;
       let disclaimer_panels = document.querySelectorAll("div.disclaimer");

       checkboxes.forEach(function(checkbox) {
         checkbox.checked = false;
       });

       submit_button.disabled = true;

       disclaimer_panels.forEach(function(panel) {
         let children = panel.querySelectorAll("*");
         if (elem.checked && panel.getAttribute("data-option") == option) {
           children.forEach(function(el) { el.classList.remove("hidden") });
         }
         else {
           children.forEach(function(el) { el.classList.add("hidden") });
         }
       });
     });
   });
 });
</script>
{% end %}
