{% extends "base.html" %}

{% block content %}
<div id="configuration-launcher" hidden>
  <h1>Launch from Configuration</h1>
  <p>To run Raiden from an already existing configuration just select a account from the list below and press the launch button.</p>
  <ul class="available-configurations">
  </ul>
</div>

<div id="configuration-setup">
  <h1>Setup New Configuration</h1>
  <p>
    To start using Raiden with a new configuration you need to provide
    a Infura Project ID. If you do not have a Infura account
    click <a href="https://medium.com/@raiden_network/6c7c61c5b695"
    target="_blank">here</a> for instructions on how to get one.
  </p>

  <div class="prompt">
    <h2>Enter your Infura Project ID</h2>
    <div class="form-entry">
      <input type="text" name="endpoint" placeholder="Your Infura ID">
      <span class="error" hidden>You need to provide a valid Infura Project ID</span>
    </div>

    <p class="disclaimer tbd">
      The code you will be running is partially supplied by the Raiden
      Project and partially by XXX as open source code and/or
      software. Please be aware that we cannot be held liable for any
      damages whatsoever or any loss of funds you may incur when using
      the code and/or software. Use at your own risk.
    </p>

    <p class="disclaimer tbd">
      Note, that we also cannot be held liable for any damages
      whatsoever or any loss of funds you may incur when using
      Infura. Please study
      <a href="https://infura.io/terms" target="_blank">Infura’s Terms
      of Service</a> for more information.
    </p>

    <button type="submit" disabled>Create New Configuration</button>
  </div>
</div>
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">


 window.addEventListener("load", function() {
   const API_CONFIGURATION_LIST_ENDPOINT = "/api/configurations";
   const infura_project_input = document.querySelector("input");
   const error_display = document.querySelector("span.error");
   const submit_button = document.querySelector("button");

   const configuration_launcher_section = document.getElementById("configuration-launcher");
   const configuration_list_container = document.querySelector("ul.available-configurations");


   function validateInfuraId(evt) {
     const infura_id = evt.target.value;
     const error_message = "Infura IDs must be exactly 32 characters long";

     if (!infura_id || infura_id.length != 32) {
       error_display.textContent = error_message;
       error_display.hidden = false;
       submit_button.disabled = true;

     }
     else {
       error_display.hidden = true;
       submit_button.disabled = false;
     }
   }

   function submitConfiguration(evt) {
     const data = JSON.stringify({
       endpoint: infura_project_input.value
     });

     const req = new XMLHttpRequest();

     req.onload = function() {
       if (this.status == 201) {
         const new_config_url = this.getResponseHeader("Location");
         const config_req = new XMLHttpRequest();

         config_req.onload = function() {
           if (this.status == 200){
             let config_data = JSON.parse(this.response);
             document.location = config_data.account_page_url;
           }
         };
         config_req.open("GET", new_config_url);
         config_req.send();
       }
     }

     req.open("POST", API_CONFIGURATION_LIST_ENDPOINT, true);
     req.setRequestHeader("Content-Type", "application/json");
     req.send(data);
   }

   function addConfiguration(configuration_data) {
     // Function that loads existing configuration asynchronously,
     // To avoid taking too-long to load all configurations before rendering anything.
     const configuration_item_container = document.createElement("li");
     const account_element = document.createElement("span");
     const network_element = document.createElement("span");
     const balance_element = document.createElement("span");
     const launch_button = document.createElement("button");

     let balance = configuration_data.balance;

     account_element.classList.add("account");
     network_element.classList.add("network");
     balance_element.classList.add("balance");

     account_element.textContent = configuration_data.account;
     network_element.textContent = configuration_data.network;
     balance_element.textContent = "Balance: " + balance.ETH.formatted + "/" + balance.RDN.formatted;

     launch_button.disabled = !(balance && balance.RDN.as_wei > 0);
     launch_button.textContent = "Launch";

     launch_button.addEventListener("click", function(evt){
       launchRaiden(configuration_data.file_name);
     });

     configuration_item_container.appendChild(account_element);
     configuration_item_container.appendChild(network_element);
     configuration_item_container.appendChild(balance_element);
     configuration_item_container.appendChild(launch_button);

     configuration_list_container.appendChild(configuration_item_container);

     configuration_launcher_section.hidden = false;
   }

   function getExistingConfigurations() {
     const req = new XMLHttpRequest();
     req.open("GET", API_CONFIGURATION_LIST_ENDPOINT, true);

     req.onload = function() {
       if (this.status == 200) {
         const urls = JSON.parse(this.response);
         urls.forEach(function(conf_url) {
           var conf_req = new XMLHttpRequest();
           conf_req.open("GET", conf_url, true);
           conf_req.onload = function() {
             if (this.status == 200) {
               addConfiguration(JSON.parse(this.response));
             }
           }
           conf_req.send();
         });
       }
     }

     req.send();
   }

   // Attaching event handlers
   infura_project_input.addEventListener("blur", validateInfuraId);
   infura_project_input.addEventListener("change", validateInfuraId);
   submit_button.addEventListener("click", submitConfiguration);


   // Load configurations
   getExistingConfigurations();
 });
</script>
{% end %}
