{% extends "base.html" %}

{% block content %}
<h1>Swap ETH for RDN</h1>
<div class="hero">
  Choose between Kyber and Uniswap decentralized exchanges to get RDN
</div>
<div class="info-panel">
  <p>Available funds</p>
  <ul class="account-info">
    <li>
      <span class="account-eth-balance highlighted">N/A ETH</span>
    </li>
    <li>
      <span class="account-rdn-balance highlighted">N/A RDN</span>
    </li>
  </ul>
</div>
<div class="action">
  <button class="link-button" data-link-url="{{ reverse_url('swap', 'kyber', configuration_file.file_name)}}"
          {% if not kyber.is_listing_token('RDN') %}disabled{% end %}>
    KyberNetwork
  </button>
  <button class="link-button" data-link-url="{{ reverse_url('swap', 'uniswap', configuration_file.file_name)}}"
          {% if not uniswap.is_listing_token('RDN') %}disabled{% end %}>
    Uniswap
  </button>
</div>
{% end %}

{% block page_header_scripts %}
<script type="text/javascript">
 async function checkBalances() {
   let balance = await getBalances("{{ reverse_url('api-configuration-detail', configuration_file.file_name) }}");
   updateBalanceDisplay(
     balance,
     document.querySelector("span.account-eth-balance"),
     document.querySelector("span.account-rdn-balance")
   );
 }

 window.addEventListener("load", function() {
   checkBalances();
   setInterval(checkBalances, 5000);
 });
</script>
{% end %}
