{% extends "base.html" %}

{% block content %}
<div id="welcome-screen">
    <div class="heading-wrapper">
        <div class="heading">
            <h1>Launch Raiden from configuration</h1>
        </div>
        <div class="description">
            <p>Launch Raiden from an existing account and configuration</p>
        </div>
    </div>

    <div class="configuration-files-wrapper">
        {% for configuration_file in configuration_files %}
        <div class="configuration-file-list-item">
            <div class="account-address">
                <p>0x{{ configuration_file.account.address }}</p>
            </div>
            <div class="network">
                <p>Network: {{ configuration_file.account.network }}</p>
            </div>
            <div class="account-balance">
                <p>Balance: {{ configuration_file.balance }} ETH</p>
            </div>
            <div class="launch-configuration">
                <button class="launch-configuration-button">Launch</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <div>
    </div>
</div>
{% endblock %}